<template>
  <div>
    <div class="content-block flush-padding">
      <div class="block-header">
        <i class="fas fa-book"></i> Training Plan Units of Study
      </div>
      <div class="block-body">
        <p class="text-success" v-if="introCoursesDone">Congratulations! You have completed your introductory courses, you may now proceed to your respective units below.</p>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
            <label class="form-check-label" for="inlineCheckbox1">In Progress</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
            <label class="form-check-label" for="inlineCheckbox2">Pending</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
            <label class="form-check-label" for="inlineCheckbox3">Completed</label>
          </div>
        </div>
        <h3 class="text-center">Currently enrolled units</h3>
        <table class="table table-striped mb-3">
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            <tr :class="statusClass(course.status)" v-for="course in courses">
              <td><a a :href="'https://hrtrainingcollege.com/course/view.php?id='+course.lms_courseid" target="_blank">{{course.fullname}}</a></td>
              <td>{{status(course.status)}}</td>
              <td>{{course.grade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'courses',
      'introCoursesDone'
    ],
    methods: {
      status: function(status) {
        if (status == 0) { return 'Not Started'; }
        else if (status == 1) { return 'In Progress'; }
        else { return 'Done'; }
      },
      statusClass: function(status) {
        if (status == 2) { return 'text-bold text-success'; }
      }
    }
  }
</script>
