<template>
  <div>
    <div>
      <div class="modal fade" id="idModal" tabindex="-1" role="dialog" aria-labelledby="usiModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Identification Requirements</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card mb-3" v-for="id in identifications">
                <div class="card-header">{{id.id_name}} <span v-html="status(id.status)"></span></div>
                <div class="card-body">
                  <p class="card-text text-success" v-if="id.status == 2">You have submitted a valid {{id.id_name}}. Thank you!</p>
                  <p class="card-text text-danger" v-if="id.status == 1">Your {{id.id_name}} has been submitted and awaiting for confirmation. Thank you for your submission!</p>
                  <p class="card-text" v-if="id.status == 4">Your <strong>{{id.id_name}}</strong> is currently pending on our server. You may have already submitted this and if not we will request you to provide <strong>{{id.id_name}}</strong> soon. Thank you!</p>

                  <form v-if="showFormValid(id.status)" enctype="multipart/form-data" @submit.prevent="idSubmit(id.id)">
                    <div class="text-center align-middle" v-if="spinner && current === id.id">
                      <spin-circle></spin-circle>
                    </div>
                    <div v-else>
                      <p v-if="id.note">{{id.note}}</p>
                      <div class="form-group">
                        <input type="file" class="form-control-file" @change="fileSelected">
                      </div>
                      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'identifications'
    ],
    data() {
      return {
        file: '',
        spinner: false,
        current: undefined
      }
    },
    methods: {
      status(stat) {
        switch (stat) {
          case 0:
            return '<span class="badge badge-danger float-right text-uppercase">Not Submitted</span>';
            break;
          case 1:
            return '<span class="badge badge-danger float-right text-uppercase">Pending Verification</span>';
            break;
          case 2:
            return '<span class="badge badge-success float-right text-uppercase">Verified</span>';
            break;
          case 3:
            return '<span class="badge badge-danger float-right text-uppercase">Verification Issue</span>';
            break;
          case 4:
            return '<span class="badge badge-danger float-right text-uppercase">TBD</span>';
            break;
        }
      },
      toggleSpinner() {
        this.spinner = !this.spinner;
      },
      showFormValid(data) {
        return data !== 2 && data !== 1 && data !== 4 ? true : false;
      },
      fileSelected(e) {
        this.file = e.target.files[0];
        let reader = new FileReader();
        reader.readAsDataURL(this.file);
      },
      idSubmit(id) {
        this.toggleSpinner();
        this.current = id;

        let data = new FormData();
        data.append('file', this.file);
        data.append('filename', this.file.name.replace(/ /g, '-'));
        data.append('id', id);

        axios({
          method: 'post',
          url: '/api/student/info/id/',
          data: data
        })
        .then( response => {
          this.current = undefined;
          this.toggleSpinner();
          this.$emit('idSubmit', response.data)
        }, error => {
          this.toggleSpinner();
          console.log(error);
        });
      }
    }
  }
</script>
