<template>
  <div>
    <transition name="fade">
      <div v-if="pageLoaded">
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <div class="content-block flush-padding">
              <div class="block-header">
                <i class="fas fa-user"></i> My Information
              </div>
              <div class="block-body">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>Participant Name:</td>
                      <td>{{student.first_name}} {{student.last_name}}</td>
                    </tr>
                    <tr>
                      <td>Training Program:</td>
                      <td>Certificate III in Cleaning Operations</td>
                    </tr>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <intro :courses="student.intro_courses" v-if="!student.introCoursesDone"></intro>
            <courses :courses="student.courses" :intro-courses-done="student.introCoursesDone" v-if="hasCourses"></courses>
          </div>
          <div class="col-sm-4">
            <div class="content-block flush-padding requirements-container">
              <div class="block-header bg-danger">
                <i class="fas fa-file-alt"></i> REQUIREMENTS
              </div>
              <div class="block-body">
                <p class="text-danger">Please confirm all the requirements below. Note that we will not release the certificate until all requirements are confirmed.</p>
                <table class="table table-sm">
                  <thead class="thead-light">
                    <tr>
                      <th><strong>Document</strong></th>
                      <th><strong>Status</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Payments
                        <span v-if="hasPayment"><br><a href="" data-toggle="modal" data-target="#paymentsModal">View Payments</a></span>
                      </td>
                      <td class="align-middle" v-if="hasPayment"><span class="text-danger"><strong>${{totalPaid}} / ${{totalAmountAgreed}}</strong></span> Paid</td>
                      <td class="align-middle" v-else>TBD</td>
                    </tr>
                    <tr>
                      <td>Identification
                        <br><span v-if="student.identifications.length"><a href="" data-toggle="modal" data-target="#idModal">View Identifications</a></span>
                      </td>
                      <td class="align-middle" v-if="student.identifications.length">
                        <span v-html="countIds()"></span>
                      </td>
                      <td class="align-middle" v-else>TBD</td>
                    </tr>
                    <tr>
                      <td>USI
                        <span v-if="student.usi.status != 2 && student.usi.status != 3"><br><a href="" data-toggle="modal" data-target="#usiModal">Submit USI</a></span>
                      </td>
                      <td class="align-middle">{{usiStatus}}</td>
                    </tr>
                    <tr v-for="course in student.intro_courses">
                      <td>{{course.fullname}}</td>
                      <td class="success" v-if="course.status == 2">{{course.grade}}</td>
                      <td class="warning" v-else><a :href="'https://hrtrainingcollege.com/course/view.php?id='+course.lms_courseid" target="_blank">{{course.grade}}</a></td>
                    </tr>
                    <tr>
                      <td>Learner Survey</td>
                      <td class="warning">Pending</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <payments :payments="student.payments"></payments>
        <identifications :identifications="student.identifications" @idSubmit="idSubmit($event)"></identifications>
        <usi></usi>
      </div>
    </transition>
    <div class="text-center align-middle" v-if="!pageLoaded" >
      <spin-circle></spin-circle>
    </div>
  </div>
</template>

<script>
  import Payments from './Payments.vue'
  import Requirements from './Requirements.vue'
  import Identifications from './Identifications.vue'
  import IntroCourses from './IntroCourses.vue'
  import Courses from './Courses.vue'
  import Usi from './USI.vue'
  export default {
    components: {
      requirements: Requirements,
      payments: Payments,
      identifications: Identifications,
      usi: Usi,
      intro: IntroCourses,
      courses: Courses
    },
    props: [
      'id'
    ],
    data() {
      return {
        student: {
          payments: [],
          courses: [],
          identifications: [],
          usi: {
            status: ''
          }
        },
        totalAmountAgreed: '',
        pageLoaded: false
      }
    },
    computed: {
      totalPaid: function() {
        if (!this.student.payments.length) {
          let amount = null;
          for (let i = 0; i < this.student.payments.length; i++) {
            amount = amount+this.student.payments[i].amount_paid;
          }
          totalAmountAgreed = this.student.payments[0].totalAmountAgreed;
          return amount;
        }
      },
      hasCourses: function() {
        if (!this.student.courses.length) return false; else return true;
      },
      hasPayment() {
        if (this.student.payments.length) return true; else return false;
      },
      usiStatus() {
        if (this.student.usi.status === 0) return 'Not Supplied';
        else if(this.student.usi.status === 1) return 'Verification Issue';
        else if(this.student.usi.status === 2) return 'Verified';
        else if(this.student.usi.status === 3) return 'TBD';
        else return '-';
      }
    },
    methods: {
      getStudent() {
        axios({
          method: 'get',
          url: '/api/portal/my-information/'+this.id
        })
        .then( response => {
          this.pageLoaded = true;
          this.student = response.data;
          console.log(response.data);
        }, error => {
          console.log(error);
        });
      },
      countIds() {
        let complete = this.student.identifications.filter( id => id.status == 2).length;
        let all = this.student.identifications.length;
        let color = complete === all ? 'success' : 'danger';
        return `<span class="text-${color}"><strong>${complete}/${all}</strong></span> Submitted`;
      },
      idSubmit(data) {
        this.student.identifications = data;
      }
    },
    created() {
      this.getStudent();
    }
  }
</script>
