<template>
  <div>
    <div class="content-block flush-padding">
      <div class="block-header">
        <i class="fas fa-book"></i> Introductory Courses
      </div>
      <div class="block-body">
        <p class="text-danger">You need to finish the LLN and Induction Course. Note that you need to get 100% on the Induction course in order to proceed to your respective units of study</p>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><strong>Course</strong></td>
              <td><strong>Status</strong></td>
              <td><strong>Percentage</strong></td>
            </tr>
            <tr :class="statusClass(course.status)" v-for="course in courses">
              <td v-if="course.status == 2">{{course.fullname}}</td>
              <td v-else><a :href="'https://hrtrainingcollege.com/course/view.php?id='+course.lms_courseid" target="_blank">{{course.fullname}}</a></td>
              <td>{{status(course.status)}}</td>
              <td>{{course.grade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'courses'
    ],
    methods: {
      status: function(status) {
        if (status == 0) { return 'Not Started'; }
        else if (status == 1) { return 'In Progress'; }
        else { return 'Done'; }
      },
      statusClass: function(status) {
        if (status == 0) { return 'text-danger'; }
        else if (status == 1) { return 'text-danger'; }
        else { return 'text-bold text-success'; }
      }
    }
  }
</script>
