<template>
  <div>
    <div>
      <div class="modal fade" id="usiModal" tabindex="-1" role="dialog" aria-labelledby="usiModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Submit USI</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">USI Number</label>
                  <input type="text" class="form-control" id="usiNumber" aria-describedby="usiNumberHelp" placeholder="Enter USI Number">
                  <small id="usiNumberHelp" class="form-text text-muted">We'll never share your USI number with anyone else.</small>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Submit USI</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
    ],
    created() {
      console.log();
    }
  }
</script>
