<template>
  <div class="card">
    <div class="card-block p-2">
      <ul class="list-unstyled m-0">
        <li>
          <strong>AMOUNT: </strong> $ {{info.amount}}
        </li>
        <li v-if="info.status">
          <strong>DATE PAID: </strong> {{info.date_verified}}
        </li>
        <li>
          <strong>MODE OF PAYMENT: </strong> {{info.mode | mode}}
        </li>
        <li v-if="info.status">
          <strong>RECEIPT: </strong> <a>Download</a>
        </li>
        <li v-else>
          <button type="button" name="button" class="btn btn-success btn-sm" @click="toggleAddPayment">Add Payment File</button>
        </li>
      </ul>
      <payment-upload v-if="addPaymentFile"></payment-upload>
    </div>
  </div>
</template>

<script>
import paymentUpload from './paymentUpload.vue'

  export default {
    components: {
      paymentUpload
    },
    props: [
      'info'
    ],
    data() {
      return {
        addPaymentFile: false
      }
    },
    filters: {
      mode(mode) {
        return mode ? 'Installment' : 'Upfront';
      }
    },
    methods: {
      toggleAddPayment() {
        this.addPaymentFile = !this.addPaymentFile;
      }
    }
  }
</script>
