<template>
  <div class="progress mb-3">
    <a class="progress-bar" role="progressbar" style="width: 33.33%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" v-for="(payment, index) in payments" :key="index" :class="isPaid(payment.status)" @click="setActivePayment(index)">
      $ {{payment.amount}}
      <span v-if="payment.status">
        {{payment.date_verified}}
      </span>
    </a>
  </div>
</template>

<script>
  export default {
    props: [
      'payments'
    ],
    methods: {
      isPaid(status) {
        return status ? 'bg-success' : 'bg-danger';
      },
      setActivePayment(index) {
        this.$emit('setActivePayment', index);
      }
    }
  }
</script>
