<template>
  <form @submit.prevent="submit" enctype="multipart/form-data">
    <div class="form-group">
      <label>Upload payment receipt:</label>
      <input type="file" class="form-control-file" @change="fileSelected">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
</template>

<script>
  export default {
    methods: {
      fileSelected() {
        console.log('test');
      }
    }
  }
</script>
