<template>
  <form @submit.prevent="submit" enctype="multipart/form-data">
    <div class="form-group">
      <label>Total Amount</label>
      <input type="text" class="form-control" placeholder="Total amount" v-model="info.agreed">
    </div>
    <div class="form-group">
      <label>Mode of Payment:</label>
      <select class="form-control" v-model="info.mode">
        <option value="0">Paid Upfront</option>
        <option value="1">Installment</option>
      </select>
    </div>
    <div class="form-group">
      <label>Times to pay:</label>
      <select class="form-control" v-model="info.times_to_pay">
        <option :value="n" v-for="n in 10" :key="n" v-text="n"></option>
      </select>
    </div>
    <div class="form-group">
      <label>Note</label>
      <textarea class="form-control" rows="4" cols="80" v-model="info.note"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" @click="toggleForm">Cancel</button>
  </form>
</template>

<script>
  export default {
    props: [
      'info'
    ],
    data() {
      return {

      }
    },
    computed: {
    },
    methods: {
      toggleForm() {
        this.$emit('toggleForm');
      }
    }
  }
</script>
