<template>
  <div>
    <h2 class="text-uppercase title">Course Categories</h2>
    <button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="modal" data-target="#inputCategory" v-on:click="addCategoryFields">Add Category</button>
    <div class="card category-item" v-for="(category, index) in categories">
      <div class="card-header">
        <h5><a class="text-dark" v-bind:href="listRoute(category.slug)" v-text="category.title"></a></h5>
      </div>
      <div class="card-body">
        <span v-html="category.description"></span>
      </div>
      <div class="card-footer">
        <a v-bind:href="listRoute(category.slug)" class="btn btn-primary btn-sm">VIEW <i class="fas fa-angle-right"></i></a>
        <div class="float-sm-right align-middle">
          <a href="" class="btn btn-info btn-sm text-white" data-toggle="modal" data-target="#inputCategory" v-on:click="setCategoryFields(index)"><i class="fas fa-edit"></i> EDIT</a>
          <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteCategory" v-on:click="setCategoryFields(index)"><i class="fas fa-trash"></i> DELETE</a>
        </div>
      </div>
    </div>

    <div class="modal fade" id="inputCategory">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add a New Category</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="categoryTitle">Title</label>
                <input type="text" class="form-control" name="categoryTitle" v-model="fields.title">
                <small class="text-danger" v-show="!fields.title">Category Title is required</small>
              </div>
              <div class="form-group">
                <label for="categoryShortName">Short Name</label>
                <input type="text" class="form-control" v-model="fields.short_name" name="categoryShortName">
                <small class="text-danger" v-show="!fields.short_name">Short Name is required</small>
              </div>
              <div class="form-group">
                <label for="categoryDescription">Description</label>
                <textarea name="categoryDescription" rows="8" cols="80" class="form-control" v-model="fields.description"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="addCategory" data-dismiss="modal" v-if="fields.title && fields.short_name && !edit">Save changes</button>
            <button type="button" class="btn btn-primary" @click="editCategory" data-dismiss="modal" v-else-if="fields.title && fields.short_name && edit">Save changes</button>
            <button type="button" class="btn btn-primary" v-else>Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="deleteCategory">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this category?</p>
            <p class="text-danger">Deleting this category will also delete the course inside the category, this cannot be undone</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" @click="deleteCategory" data-dismiss="modal">Delete</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</template>

<script>
export default {
  props: [
    'courseListRoute'
  ],
  data() {
    return {
      fields: {
        id: null,
        title: '',
        short_name: '',
        description: ''
      },
      categories: '',
      edit: false
    }
  },
  methods: {
    listRoute: function(data) {
      return this.courseListRoute.replace('slug', data);
    },
    addCategoryFields: function() {
      this.edit = false,
      this.fields.id = null,
      this.fields.title = '',
      this.fields.short_name = '',
      this.fields.description = ''
    },
    setCategoryFields: function(data) {
      this.edit = true,
      this.fields.id = this.categories[data].id,
      this.fields.title = this.categories[data].title,
      this.fields.short_name = this.categories[data].short_name,
      this.fields.description = this.categories[data].description
    },
    // PERFORM AXIOS REQUESTS HERE
    addCategory: function() {
      axios({
        method: 'post',
        url: '/api/course-category',
        data: {
          category: this.fields
        }
      })
      .then( response => {
        this.categories = response.data;
        console.log(response);
      }, error => {
        console.log(error);
        console.log('error');
      });
    },
    editCategory: function() {
      axios({
        method: 'put',
        url: '/api/course-category/'+this.fields.id,
        data: {
          category: this.fields
        }
      })
      .then( response => {
        this.categories = response.data;
      }, error => {
        console.log(error);
        console.log('error');
      });
    },
    deleteCategory: function() {
      axios({
        method: 'delete',
        url: '/api/course-category/'+this.fields.id
      })
      .then( response => {
        this.categories = response.data;
      }, error => {
        console.log(error);
        console.log('error');
      });
    },
    getData: function() {
      axios({
        method: 'get',
        url: '/api/course-category'
      })
      .then( response => {
        this.categories = response.data;
        console.log(response.data);
      }, error => {
        console.log(error);
        console.log('error');
      });
    }
  },
  created() {
    this.getData();
  }

}
</script>
