<template>
  <div>
    <div v-for="(section, sectionindex) in courseDetails.sections">
      <h3 v-text="section.title"></h3>
      <p v-if="section.description" v-text="section.description"></p>
      <button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="modal" data-target="#courseModal" v-on:click="addUnit(section.id)"><i class="fas fa-plus-circle"></i> Add Unit</button>
      <div class="float-sm-right align-middle">
        <button type="button" class="btn btn-warning text-white btn-sm mb-3" data-toggle="modal" data-target="#courseModal" @click="setSectionFields(sectionindex)"><i class="fas fa-edit"></i> Edit Section</button>
        <button type="button" class="btn btn-danger text-white btn-sm mb-3" data-toggle="modal" data-target="#deleteData" @click="setSectionFields(sectionindex)"><i class="fas fa-trash"></i> Delete Section</button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Visible</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(unit, index) in section.units">
            <td>{{unit.code}}</td>
            <td>{{unit.title}}
              <span class="text-primary" v-if="unit.note"><br>{{unit.note}}</span>
            </td>
            <td v-if="unit.visible">Yes</td>
            <td v-else>No</td>
            <td><a v-on:click="editUnit(sectionindex, index)" data-toggle="modal" data-target="#courseModal" href="">Edit</a> | <a v-on:click="setFields(sectionindex, index)" data-toggle="modal" data-target="#deleteData" href="" class="text-danger">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#courseModal" @click="addSectionField">Add New Section</button>

    <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add {{type}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-if="type == 'unit'">
              <form>
                <div class="form-group">
                  <label for="coreCode">Core Unit Code</label>
                  <input type="text" name="coreCode" v-model="fields.code" class="form-control">
                  <small v-if="!fields.code" class="text-danger">Core Unit Code is required</small>
                </div>
                <div class="form-group">
                  <label for="coreName">Core Unit Name</label>
                  <input type="text" name="coreName" v-model="fields.title" class="form-control">
                  <small v-if="!fields.title" class="text-danger">Core Unit Title is required</small>
                </div>
                <div class="form-group">
                  <label for="coreName">Note (Optional)</label>
                  <input type="text" name="coreName" v-model="fields.note" class="form-control">
                </div>
                <div class="form-group">
                  <label for="coreVisibile">Visibility</label>
                  <select class="form-control" v-model="fields.visible">
                    <option value="1">Visible</option>
                    <option value="0">Hidden</option>
                  </select>
                </div>
              </form>
            </div>
            <div v-else-if="type == 'section'">
              <form>
                <div class="form-group">
                  <label for="coreCode">Section Title</label>
                  <input type="text" name="sectionTitle" v-model="setSection.title" class="form-control">
                  <small v-if="!setSection.title" class="text-danger">Section title is required</small>
                </div>
                <div class="form-group">
                  <label for="coreName">Description (Optional)</label>
                  <textarea name="sectionDescription" rows="8" cols="80" class="form-control" v-model="setSection.description"></textarea>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" @click="editData" v-if="edit">Save changes</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" @click="addData" v-else>Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteData" tabindex="-1" role="dialog" aria-labelledby="deleteSectionLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this section?</p>
            <p class="text-danger">Deleting this section will remove the units inside it and cannot be undone.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteData(type)">Delete</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    props: [
      'vue',
      'getApiRoute',
      'initialunits',
      'getCourse'
    ],
    data() {
      return {
        edit: false,
        test: '',
        search: '',
        fields: {
          id: '',
          courseid: '',
          sectionid: '',
          code: '',
          title: '',
          note: '',
          visible: 1
        },
        setSection: {
          id: '',
          title: '',
          description: ''
        },
        // this will handle the data of the CourseController API Resource
        courseDetails: '',
        type: '' // section or unit
      }
    },
    computed: {
      validateSection: function() {
        if (this.setSection.title) {
          return true;
        }
        else {
          return false;
        }
      }
    },
    methods: {
      setFields: function(section, unit) {
        // this will set the fields to the selected unit
        this.type = 'unit';
        this.fields.id = this.courseDetails.sections[section].units[unit].id;
        this.fields.courseid = this.courseDetails.sections[section].units[unit].courseid;
        this.fields.sectionid = this.courseDetails.sections[section].units[unit].sectionid;
        this.fields.code = this.courseDetails.sections[section].units[unit].code;
        this.fields.title = this.courseDetails.sections[section].units[unit].title;
        this.fields.note = this.courseDetails.sections[section].units[unit].note;
        this.fields.visible = this.courseDetails.sections[section].units[unit].visible;

        console.log(this.courseDetails.sections.units);
      },
      addSectionField: function() {
        this.type = 'section';
        this.edit = false;
        this.setSection.id = null,
        this.setSection.title = '',
        this.setSection.description = ''
      },
      setSectionFields: function(data) {
        this.type = 'section';
        this.edit = true;
        this.setSection.id = this.courseDetails.sections[data].id,
        this.setSection.title = this.courseDetails.sections[data].title,
        this.setSection.description = this.courseDetails.sections[data].description
      },
      editUnit: function(section, unit) {
        this.type = 'unit';
        this.edit = true;
        return this.setFields(section, unit);
      },
      addUnit: function(data) {
        this.type = 'unit';
        this.edit = false;

        this.fields.id = null;
        this.fields.code = '';
        this.fields.courseid = '';
        this.fields.sectionid = data;
        this.fields.title = '';
        this.fields.note = '';
        this.fields.visible = 1;
      },

      // CLEANED CODE | PERFORM AXIOS HTTP REQUESTS
      addData: function() {
        let section = {};
        if (this.type == 'section') { section = this.setSection; }
        else if(this.type == 'unit') { section = this.fields; }
        console.log(section);
        axios({
          method: 'post',
          url: '/api/course-category/category/course/',
            data: {
              courseid: this.getCourse.id,
              type: this.type,
              section
            }
        })
        .then( response => {
          this.courseDetails = response.data;
        }, error => {
          console.log(error);
          console.log('error');
        });
      },
      editData: function() {
        let section = {};
        if (this.type == 'section') { section = this.setSection; }
        else if(this.type == 'unit') { section = this.fields; }
        console.log(section);
        axios({
          method: 'put',
          url: '/api/course-category/category/course/'+this.getCourse.id,
            data: {
              type: this.type,
              section
            }
        })
        .then( response => {
          this.courseDetails = response.data;
        }, error => {
          console.log(error);
          console.log('error');
        });
      },
      deleteData: function() {
        let id = '';
        if (this.type == 'unit') { id = this.fields.id; }
        else { id = this.setSection.id; }

        axios({
          method: 'delete',
          url: '/api/course-category/category/course/'+this.getCourse.id,
          data: {
            id: id,
            type: this.type
          }
        })
        .then( response => {
          this.courseDetails = response.data;
          console.log(response.data)
        }, error => {
          console.log(error);
          console.log('error');
        });
      },
      getCourseDetails: function() {
        axios({
          method: 'get',
          url: '/api/course-category/category/course/'+this.getCourse.id,
        })
        .then( response => {
          this.courseDetails = response.data;
          console.log(response.data)
        }, error => {
          console.log(error);
          console.log('error');
        });
      }
    },
    created() {
      // START HERE
      this.getCourseDetails();
      console.log(this.courseDetails);

    }
  }
</script>
