<template>
  <div>
    <h2 class="text-uppercase title" v-text="courseData.title"></h2>
    <button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="modal" data-target="#inputCourse" v-on:click="addCourseFields">Add Course</button>
    <div class="card category-item" v-for="(course, index) in courseData.courses">
      <div class="card-header">
        <h5><a v-bind:href="courseLink(course.slug)" class="text-dark">{{course.title}} {{course.code}}</a></h5>
      </div>
      <div class="card-body">
        {{course.description}}
      </div>
      <div class="card-footer">
        <a v-bind:href="courseLink(course.slug)" class="btn btn-primary btn-sm">VIEW <i class="fas fa-angle-right"></i></a>
        <div class="float-sm-right align-middle">
          <button type="button" class="btn btn-info btn-sm text-white" data-toggle="modal" data-target="#inputCourse" v-on:click="setCourseFields(index)"><i class="fas fa-edit"></i> Edit</button>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteCourse" v-on:click="setCourseFields(index)"><i class="fas fa-trash"></i> Delete</button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="inputCourse">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add a New Course</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="courseCode">Course Code</label>
                <input type="text" class="form-control" name="courseCode" v-model="fields.code">
                <small class="text-danger" v-show="!fields.code">Course Code is required</small>
              </div>
              <div class="form-group">
                <label for="courseTitle">Course Name</label>
                <input type="text" class="form-control" v-model="fields.title" name="courseTitle">
                <small class="text-danger" v-show="!fields.title">Course Name is required</small>
              </div>
              <div class="form-group">
                <label for="coreVisibile">Visibility</label>
                <select class="form-control" v-model="fields.visible">
                  <option value="1">Visible</option>
                  <option value="0">Hidden</option>
                </select>
              </div>
              <div class="form-group">
                <label for="courseDescription">Description</label>
                <textarea name="courseDescription" rows="8" cols="80" class="form-control" v-model="fields.description"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="addCourse" data-dismiss="modal" v-if="fields.title && fields.code && !edit">Save changes</button>
            <button type="button" class="btn btn-primary" @click="editCourse" data-dismiss="modal" v-else-if="fields.title && fields.code && edit">Save Edit changes</button>
            <button type="button" class="btn btn-primary" v-else>Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="deleteCourse">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this course?</p>
            <p class="text-danger">Deleting this course will delete everything including the units and cannot be undone</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" @click="deleteCourse" data-dismiss="modal">Delete</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</template>

<script>
  export default {
    props: [
      'route',
      'courseCategory'
    ],
    data() {
      return {
        link: this.route,
        fields: {
          id: '',
          code: '',
          title: '',
          description: '',
          visible: 1
        },
        courseData: '',
        edit: false
      }
    },
    methods: {
      courseLink: function(data) {
        return this.route.replace('slug', data);
      },
      addCourseFields: function() {
        this.edit = false,
        this.fields.id = null,
        this.fields.code = '',
        this.fields.title = '',
        this.fields.description = '',
        this.fields.visible = 1
      },
      setCourseFields: function(data) {
        this.edit = true,
        this.fields.id = this.courseData.courses[data].id,
        this.fields.code = this.courseData.courses[data].code,
        this.fields.title = this.courseData.courses[data].title,
        this.fields.description = this.courseData.courses[data].description,
        this.fields.visible = this.courseData.courses[data].visible
      },

      // PERFORM AXIOS REQUESTS HERE
      addCourse: function() {
        axios({
          method: 'post',
          url: '/api/course-category/category',
          data: {
            categoryid: this.courseCategory.id,
            course: this.fields
          }
        })
        .then( response => {
          this.courseData = response.data;
          console.log(response);
        }, error => {
          console.log(error);
          console.log('error');
        });
      },
      editCourse: function() {
        axios({
          method: 'put',
          url: '/api/course-category/category/'+this.courseCategory.id,
          data: {
            course: this.fields
          }
        })
        .then( response => {
          this.courseData = response.data;
        }, error => {
          console.log(error);
          console.log('error');
        });
      },
      deleteCourse: function() {
        axios({
          method: 'delete',
          url: '/api/course-category/category/'+this.courseCategory.id,
          data: {
            courseid: this.fields.id
          }
        })
        .then( response => {
          this.courseData = response.data;
        }, error => {
          console.log(error);
          console.log('error');
        });
      },
      getData: function() {
        axios({
          method: 'get',
          url: '/api/course-category/category/'+this.courseCategory.id
        })
        .then( response => {
          this.courseData = response.data;
        }, error => {
          console.log(error);
          console.log('error');
        });
      }
    },
    created() {
      console.log(this.fields.id);
      this.getData();
    }
  }
</script>
