<template>
  <div>
    <div class="input-group mb-3 hidden">
      <input type="text" class="form-control" placeholder="Search enrolment" v-model="search">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <p class="text-right">
      <a href="/portal/enrolment-settings"><i class="fas fa-cog"></i> Settings</a>
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
          <tr v-for="entry in entries">
            <td>{{entry.id}}</td>
            <td>{{entry.firstname}} {{entry.lastname}}</td>
            <td>
                <span class="text-success" v-if="entry.status"><strong>Confirmed</strong></span>
                <span class="text-danger" v-else><strong>Pending</strong></span>
            </td>
            <td>
              <a :href="'/portal/enrolment/'+entry.id" class="btn btn-primary btn-sm">View Enrolment</a>
              <a class="text-danger ml-5" @click="deleteItem(entry.id)">Delete</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        search: ''
      }
    },
    computed: {
      searchEnrolment: function() {
        return this.enrolments.filter((entry) => {
          return entry.firstname.toLowerCase().match(this.search.toLowerCase()) || entry.lastname.toLowerCase().match(this.search.toLowerCase())
        })
      },
      entries() {
        return this.$store.state.enrolment.list;
      }
    },
    methods: {
      deleteItem(id) {
        this.$store.commit('enrolment/deleteEntry', id);
      }
    },
    created() {
      console.log(this.entries);
      this.$store.commit('enrolment/getEntries');

    }
  }
</script>
