<template>
  <div class="container enrolment-form">
    <h3>Personal Details</h3>
    <form class="form" @submit.prevent="submit">
      <p class="font-bold m-0">1.) Enter your full name <span v-html="required"></span></p>
      <div class="row form-group">
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="First Name" v-model="fields.firstname" required>
          <label>First Name</label>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Last Name" v-model="fields.lastname" required>
          <label>Last Name</label>
        </div>
        <div class="col-sm-12">
          <p class="m-0 text-primary"><em>The name above will appear on your certificate & results issued to you by Human Resource Training.</em></p>
        </div>
      </div>

      <p class="font-bold m-0">2.) Enter your birth date <span v-html="required"></span></p>
      <div class="form-group row">
        <div class="col-sm-6">
          <input type="date" class="form-control" v-model="fields.dateofbirth" required>
        </div>
      </div>

      <p class="font-bold m-0">3.) Sex <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexRadios" :value="1" v-model="fields.sex" required>
          <label class="form-check-label">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexRadios" :value="2" v-model="fields.sex" required>
          <label class="form-check-label">
            Female
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexRadios" :value="3" v-model="fields.sex" required>
          <label class="form-check-label">
            Not stated
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sexRadios" :value="4" v-model="fields.sex" required>
          <label class="form-check-label">
            Unspecified
          </label>
        </div>
      </div>

      <p class="font-bold m-0">4.) Do you have a USI ? (Unique Student Identifier) <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="usiRadio" :value="true" v-model="fields.usi" required>
          <label class="form-check-label">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="usiRadio" :value="false" v-model="fields.usi" required>
          <label class="form-check-label">
            No
          </label>
        </div>
      </div>

      <div class="form-group" v-if="fields.usi == true">
        <label>Enter your USI number:</label>
        <input type="text" class="form-control" v-model="fields.usinumber" :required="fields.usi == true">
        <small class="form-text text-muted">0 of 10 max characters</small>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" :required="fields.usi == true">
          <label class="form-check-label">I understand and agree to Human Resource Training using the USI that I am supplying as per the Privacy Notice and Policy Agreement I have read below.</label>
        </div>
      </div>
      <p v-if="fields.usi == 0">To create your own USI, <a href="http://hrtraining.com.au/usi/" target="_blank">Click Here!</a></p>

      <p class="font-bold m-0">5.) What is your home residential address? <span v-html="required"></span></p>
      <div class="form-group row">
        <div class="col-sm-12 mb-1">
          <input type="text" class="form-control" placeholder="Street Address" v-model="fields.residentAdd.street_address" required>
          <label>Street Address</label>
        </div>
        <div class="col-sm-6 mb-1">
          <input type="text" class="form-control" placeholder="City" v-model="fields.residentAdd.city" required>
          <label>City</label>
        </div>
        <div class="col-sm-6 mb-1">
          <input type="text" class="form-control" placeholder="State / Province" v-model="fields.residentAdd.state" required>
          <label>State / Province</label>
        </div>
        <div class="col-sm-6 mb-1">
          <input type="number" class="form-control" placeholder="ZIP / Postal Code" v-model="fields.residentAdd.postal_code" required>
          <label>ZIP / Postal Code</label>
        </div>
        <div class="col-sm-6 mb-1">
          <select class="form-control" v-model="fields.residentAdd.country" required>
            <option v-for="country in countries" :value="country.name">{{country.name}}</option>
          </select>
          <label>Country</label>
        </div>
      </div>

      <p class="font-bold m-0">6.) What is your postal address? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="1" v-model="fields.postal_same">
          <label class="form-check-label">Same as above</label>
        </div>
        <div class="row" v-if="!fields.postal_same">
          <div class="col-sm-12 mb-1">
            <input type="text" class="form-control" placeholder="Street Address" v-model="fields.postalAdd.postal_street_address">
            <label>Street Address</label>
          </div>
          <div class="col-sm-6 mb-1">
            <input type="text" class="form-control" placeholder="City" v-model="fields.postalAdd.postal_city">
            <label>City</label>
          </div>
          <div class="col-sm-6 mb-1">
            <input type="text" class="form-control" placeholder="State / Province" v-model="fields.postalAdd.postal_state">
            <label>State / Province</label>
          </div>
          <div class="col-sm-6 mb-1">
            <input type="number" class="form-control" placeholder="ZIP / Postal Code" v-model="fields.postalAdd.postal_postal_code">
            <label>ZIP / Postal Code</label>
          </div>
          <div class="col-sm-6 mb-1">
            <select class="form-control" v-model="fields.postalAdd.postal_country">
              <option v-for="country in countries" :value="country.name">{{country.name}}</option>
            </select>
            <label>Country</label>
          </div>
        </div>
      </div>

      <p class="font-bold m-0">7.) Contact information <span class="text-danger">*</span></p>
      <div class="form-group row">
        <div class="col-sm-6">
          <input type="number" class="form-control" placeholder="Home Number" v-model="fields.home_number" required>
          <label>Home Number</label>
          <input type="number" class="form-control" placeholder="Mobile Number" v-model="fields.mobile_number" required>
          <label>Mobile Number</label>
          <input type="email" class="form-control" placeholder="Email Address" v-model="fields.email" required>
          <label>Email Address</label>
        </div>
      </div>

      <h3>Course Details</h3>
      <p class="font-bold m-0">8.) I wish to enrol in the following course <span v-html="required"></span> <span class="text-danger">(select category AND then a COURSE from the drop down box)</span></p>
      <div class="form-group row">
        <div class="col-sm-12">
          <select class="form-control" v-model="fields.course_category">
            <option :value="null" selected>Select a Course Category</option>
            <option v-for="course in courses" :value="course">{{course.name}}</option>
          </select>
        </div>
      </div>

      <div v-if="fields.course_category">
        <p class="font-bold m-0">Course name (select a course from the drop down box):</span></p>
        <div class="form-group row">
          <div class="col-sm-12">
            <select class="form-control" v-model="fields.course_name">
              <option value="null" selected>Select a <span class="text-text-capitalize" v-text="fields.course_category.shortname"></span> Course</option>
              <option v-for="course in fields.course_category.courses" v-text="course"></option>
            </select>
          </div>
        </div>
      </div>

      <p class="font-bold m-0">9.) Are you applying for RPL / National Recognition for any units? <span v-html="required"></span>
      <br><small>What is <a href="https://hrtraining.com.au/rpl-course/" target="_blank">RPL</a></small></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="rplRadios" :value="true" v-model="fields.rpl" required>
          <label class="form-check-label">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="rplRadios" :value="false" v-model="fields.rpl" required>
          <label class="form-check-label">
            No
          </label>
        </div>
      </div>

      <h3>Language and Cultural Diversity</h3>
      <p class="font-bold m-0">10.) In which country were you born? <span v-html="required"></span></p>
      <div class="form-group row">
        <div class="col-sm-6">
          <select class="form-control" v-model="fields.country_born" required>
            <option v-for="country in countries" :value="country.name">{{country.name}}</option>
          </select>
        </div>
      </div>

      <p class="font-bold m-0">11.) Do you speak a language, other than English at home? <span v-html="required"></span></p>
      <div class="form-group row">
        <div class="col-sm-6">
          <div class="form-check mb-1">
            <input class="form-check-input" type="checkbox" :value="true" v-model="fields.language.englishOnly">
            <label class="form-check-label">No – English Only</label>
          </div>
          <input type="text" class="form-control" placeholder="Other" v-model="fields.language.other">
        </div>
      </div>

      <p class="font-bold m-0">12.) How well do you speak English? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="englishRadios" :value="1" v-model="fields.english" required>
          <label class="form-check-label">
            Very Well
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="englishRadios" :value="2" v-model="fields.english" required>
          <label class="form-check-label">
            Well
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="englishRadios" :value="3" v-model="fields.english" required>
          <label class="form-check-label">
            Not Well
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="englishRadios" :value="4" v-model="fields.english" required>
          <label class="form-check-label">
            Not at all
          </label>
        </div>
      </div>

      <p class="font-bold m-0">13.) Are you of Aboriginal, Torres Strait Islander or other indigenous origin? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="aboriginalRadios" :value="1" v-model="fields.aboriginal" required>
          <label class="form-check-label">
            No
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="aboriginalRadios" :value="2" v-model="fields.aboriginal" required>
          <label class="form-check-label">
            Yes, Aboriginal
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="aboriginalRadios" :value="3" v-model="fields.aboriginal" required>
          <label class="form-check-label">
            Yes, Torres Strait Islander
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="aboriginalRadios" :value="4" v-model="fields.aboriginal" required>
          <label class="form-check-label">
            Yes, other indigenous origin
          </label>
        </div>
      </div>

      <h3>Disability</h3>
      <p class="font-bold m-0">14.) Do you consider yourself to have a disability, impairment or long-term condition? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="disabilityRadios" :value="true" v-model="fields.disability" required>
          <label class="form-check-label">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="disabilityRadios" :value="false" v-model="fields.disability" required>
          <label class="form-check-label">
            No – Go to Question 15
          </label>
        </div>
      </div>

      <div v-if="fields.disability == true">
        <p class="font-bold m-0">If YES, tick ANY applicable boxes:</p>
        <div class="form-group">
          <div class="form-check" v-for="(disability, index) in fields.disabilities">
            <input class="form-check-input" type="checkbox" :value="true" v-model="fields.disabilities[index].status">
            <label class="form-check-label">{{disability.name}}</label>
          </div>
          <small>(You may choose more than one area)
            <br>to Question 13, please indicate the areas of disability, impairment or long-term condition:</small>
        </div>
      </div>

      <h3>Schooling</h3>

      <p class="font-bold m-0">15.) What is your highest COMPLETED school level? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="schoolingRadios" :value="1" v-model="fields.school_level" required>
          <label class="form-check-label">
            Year 12 or equivalent
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="schoolingRadios" :value="2" v-model="fields.school_level" required>
          <label class="form-check-label">
            Year 11 or equivalent
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="schoolingRadios" :value="3" v-model="fields.school_level" required>
          <label class="form-check-label">
            Year 10 or equivalent
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="schoolingRadios" :value="4" v-model="fields.school_level" required>
          <label class="form-check-label">
            Year 9 or equivalent
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="schoolingRadios" :value="5" v-model="fields.school_level" required>
          <label class="form-check-label">
            Year 8 or equivalent
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="schoolingRadios" :value="6" v-model="fields.school_level" required>
          <label class="form-check-label">
            Never attended school
          </label>
        </div>
      </div>

      <p class="font-bold m-0">16.) In which YEAR did you complete that school level? <span v-html="required"></span></p>
      <div class="form-group row">
        <div class="col-sm-6">
          <input type="number" class="form-control" v-model="fields.year_school_level" required>
        </div>
      </div>

      <p class="font-bold m-0">17.) Are you still attending secondary school? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="secondaryRadios" :value="true" v-model="fields.still_attending_school" required>
          <label class="form-check-label">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="secondaryRadios" :value="false" v-model="fields.still_attending_school" required>
          <label class="form-check-label">
            No
          </label>
        </div>
      </div>

      <h3>Previous Qualifications Achieved</h3>
      <p class="font-bold m-0">18.) Have you successfully completed any of the qualifications listed below? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="qualRadios" :value="true" v-model="fields.prior_qualification" required>
          <label class="form-check-label">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="qualRadios" :value="false" v-model="fields.prior_qualification" required>
          <label class="form-check-label">
            No
          </label>
        </div>
      </div>

      <div>
        <p class="font-bold m-0">If YES, tick ANY applicable boxes:</p>
        <div class="form-group">
          <div class="form-check" v-for="(qual, index) in fields.qualifications">
            <input class="form-check-input" type="checkbox" :value="true" v-model="fields.qualifications[index].status">
            <label class="form-check-label">{{qual.name}}</label>
          </div>
        </div>
      </div>

      <h3>Employment</h3>
      <p class="font-bold m-0">19.) Of the following categories, which BEST describes your current employment status? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="employRadios" :value="1" v-model="fields.employment_status" required>
          <label class="form-check-label">
            Full-time employee
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="employRadios" :value="2" v-model="fields.employment_status" required>
          <label class="form-check-label">
            Part-time employee
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="employRadios" :value="3" v-model="fields.employment_status" required>
          <label class="form-check-label">
            Self-employed – not employing others
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="employRadios" :value="4" v-model="fields.employment_status" required>
          <label class="form-check-label">
            Employer
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="employRadios" :value="5" v-model="fields.employment_status" required>
          <label class="form-check-label">
            Employed – unpaid worker in a family business
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="employRadios" :value="6" v-model="fields.employment_status" required>
          <label class="form-check-label">
            Unemployed – seeking full-time work
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="employRadios" :value="7" v-model="fields.employment_status" required>
          <label class="form-check-label">
            Unemployed – seeking part-time work
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="employRadios" :value="8" v-model="fields.employment_status" required>
          <label class="form-check-label">
            Not employed – not seeking employment
          </label>
        </div>
      </div>

      <h3>Study Reason</h3>
      <p class="font-bold m-0">20.) Of the following categories, which BEST describes your main reason for undertaking this course/traineeship/apprenticeship? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="1" v-model="fields.study_reason" required>
          <label class="form-check-label">
            To get a job
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="2" v-model="fields.study_reason" required>
          <label class="form-check-label">
            To develop my existing business
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="3" v-model="fields.study_reason" required>
          <label class="form-check-label">
            To start my own business
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="4" v-model="fields.study_reason" required>
          <label class="form-check-label">
            To try a different career
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="5" v-model="fields.study_reason" required>
          <label class="form-check-label">
            To get a better job or promotion
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="6" v-model="fields.study_reason" required>
          <label class="form-check-label">
            It was a requirement of my job
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="7" v-model="fields.study_reason" required>
          <label class="form-check-label">
            I wanted extra skills for my job
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="8" v-model="fields.study_reason" required>
          <label class="form-check-label">
            To get into another course of study
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="9" v-model="fields.study_reason" required>
          <label class="form-check-label">
            For personal interest or self-development
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="studyRadios" :value="10" v-model="fields.study_reason" required>
          <label class="form-check-label">
            Other reasons
          </label>
        </div>
      </div>

      <h3>Employer Details (if applicable)</h3>
      <p class="font-bold m-0">21.) Position/Title</p>
      <div class="row mb-3">
        <div class="col-sm-12 mb-1">
          <input type="text" class="form-control" placeholder="Position/Title" v-model="fields.employer_title">
        </div>
        <div class="col-sm-12 mb-1">
          <label>Company Name</label>
          <input type="text" class="form-control" placeholder="Company Name" v-model="fields.company_name">
        </div>
      </div>
      <p class="font-bold m-0">Company Address</p>
      <div class="row">
        <div class="col-sm-12 mb-1">
          <input type="text" class="form-control" placeholder="Street Address" v-model="fields.company_street">
          <label>Street Address</label>
        </div>
        <div class="col-sm-6 mb-1">
          <input type="text" class="form-control" placeholder="City" v-model="fields.company_city">
          <label>City</label>
        </div>
        <div class="col-sm-6 mb-1">
          <input type="text" class="form-control" placeholder="State / Province" v-model="fields.company_state">
          <label>State / Province</label>
        </div>
        <div class="col-sm-6 mb-1">
          <input type="number" class="form-control" placeholder="ZIP / Postal Code" v-model="fields.company_postal_code">
          <label>ZIP / Postal Code</label>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Work Phone Number" v-model="fields.work_phone_number">
          <label>Work Phone Number</label>
          <input type="text" class="form-control" placeholder="Work Mobile Number" v-model="fields.work_mobile_number">
          <label>Work Mobile Number (if you have one)</label>
          <input type="email" class="form-control" placeholder="Work Email Address" v-model="fields.work_email">
          <label>Work Email Address (if you have one)</label>
        </div>
      </div>

      <h3>First Aid</h3>
      <p class="font-bold m-0">22.) Do you have a Certificate in First Aid? <span v-html="required"></span></p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="firstAidRadios" :value="true" v-model="fields.first_aid_cert" required>
          <label class="form-check-label">
            Yes – please email copy
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="firstAidRadios" :value="false" v-model="fields.first_aid_cert" required>
          <label class="form-check-label">
            No
          </label>
        </div>
      </div>

      <h3>Proof of Identity</h3>
      <p class="font-bold m-0">23.) You will need to supply HR training a head & shoulders photo of yourself before enrolment can be confirmed.</p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" :value="true" v-model="fields.photo_emailed">
          <label class="form-check-label">Photo will be emailed</label>
        </div>
      </div>

      <p class="font-bold m-0">Supply one of the following forms of formal identification:</p>
      <div class="form-group">
        <div class="form-check" v-for="(ids, index) in fields.identification">
          <input class="form-check-input" type="checkbox" :value="true" v-model="fields.identification[index].status">
          <label class="form-check-label">{{ids.name}}</label>
        </div>
      </div>

      <h3>If you are enrolling in a Security course, answer the following questions:</h3>
      <p class="font-bold m-0">24.) Do you have any Certificates in Security?</p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" :value="true" v-model="fields.cert_security">
          <label class="form-check-label">
            Yes – please email copy
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" :value="false" v-model="fields.cert_security">
          <label class="form-check-label">
            No
          </label>
        </div>
      </div>
      <p class="font-bold m-0">Have you ever had a Security License?</p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" :value="true" v-model="fields.security_license">
          <label class="form-check-label">
            Yes – please email copy
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" :value="false" v-model="fields.security_license">
          <label class="form-check-label">
            No
          </label>
        </div>
      </div>

      <h3>Checklist of documents to email to:
      <br>id@HRtraining.com.au</h3>
      <div class="form-group">
        <div class="form-check" v-for="(doc, index) in fields.documents">
          <input class="form-check-input" type="checkbox" :value="true" v-model="fields.documents[index].status">
          <label class="form-check-label">{{doc.name}}</label>
        </div>
      </div>

      <h3>Our training guarantee as a Registered Training Organisation</h3>
      <p>HR training guarantee to complete all training and assessment as per the training package guidelines and the SNR standards for continuing registration as a Registered Training Organisation (RTO), based on our reputation of being a successful RTO since 1996 and training thousands of staff and management for numerous industries and government bodies, not only in Australia but in 53 countries around the world.</p>
      <p>HR training further guarantee that if for any reason of extraordinary circumstances we are unable to complete the training of any units HR training will find an RTO that can complete the training.</p>

      <h3>Tick the box below and certify with your name to confirm you’ve read & understand the enrolment details:</h3>
      <p>Information about HR training, its policies & procedures and its assessment process can be found in the Course Information Handbook. You will also receive this handbook again during the Induction Course and asked to save it to your computer for reference during your study. To read the Handbook anytime go to: Course Information Handbook</p>
      <p>Policies & Procedures concerning: Refunds, Appeals & Complaints, Privacy, Support Services, Access & Equity, Harassment, Discrimination, Replacement of Lost Credentials and HR training’s Code of Practice are all available as part of our Quality Management System.</p>
      <p>Credentials will be issued within 28 days of completion of all courses. We note a fee is charged of $55 to replace any lost Certificate, Transcript of results, Statement of Attainment or any credential.</p>

      <h3>Declaration</h3>
      <p class="font-bold m-0">Please place your full name here for the Declaration below <span v-html="required"></span></p>
      <div class="form-group row">
        <div class="col-sm-6">
          <input type="text" class="form-control" v-model="fields.fullname_declaration" required>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" :value="true" v-model="fields.certify_agreement" required>
          <label class="form-check-label">I certify I have read this enrolment form and the Course Information Handbook and agree to the conditions stated in both. I declare that the information supplied by me on this form is true & correct in every detail and I understand and agree that information provided on this form will be used by government departments for research, statistical & management purposes and that HR training may also use the information to help improve the services they deliver, inform participants of other products & services or to comply with requirements under the law. HR training shall not otherwise disclose my personal information to any other party without my consent. In supplying this information I am consenting to the use of the information for these purposes and will contact HR training to amend my personal details when necessary. I also understand I can access my file at any time.</label>
        </div>
      </div>

      <p class="font-bold m-0">I have enrolled today <span v-html="required"></span></p>
      <div class="form-group row">
        <div class="col-sm-6">
          <input type="date" class="form-control" v-model="fields.dateofenrolment" required>
        </div>
      </div>

      <p class="font-bold m-0">How did you hear about us</p>
      <div class="form-group row">
        <div class="col-sm-6">
          <select class="form-control" v-model="fields.discovered" required>
            <option>Online</option>
            <option>Google, Bing, or other search engines</option>
            <option>Friends/Colleagues/Students of HRtraining</option>
            <option>Agent SA</option>
            <option>Agent WA (Kelly Morgan)</option>
            <option>Agent TAS (Giulio White)</option>
            <option>Agent QLD</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: {
        firstname: '',
        lastname: '',
        dateofbirth: null,
        sex: null,
        usi: null,
        usinumber: null,
        residentAdd: {
          street_address: null,
          city: null,
          state: null,
          postal_code: null,
          country: 'Australia'
        },
        postal_same: false,
        postalAdd: {
          postal_street_address: null,
          postal_city: null,
          postal_state: null,
          postal_postal_code: null,
          postal_country: 'Australia'
        },
        home_number: null,
        mobile_number: null,
        email: null,
        course_category: null,
        course_name: null,
        rpl: null,
        country_born: 'Australia',
        language: {
          englishOnly: false,
          other: null
        },
        english: null,
        aboriginal: null,
        disability: null,
        disabilities: [
          {id: 1, name: 'Hearing/Deaf', status: false},
          {id: 2, name: 'Physical', status: false},
          {id: 3, name: 'Intellectual', status: false},
          {id: 4, name: 'Learning', status: false},
          {id: 5, name: 'Mental Illness', status: false},
          {id: 6, name: 'Acquired Brain Impairment', status: false},
          {id: 7, name: 'Vision', status: false},
          {id: 8, name: 'Medical Condition', status: false},
          {id: 9, name: 'Other', status: false}
        ],
        school_level: null,
        year_school_level: null,
        still_attending_school: null,
        prior_qualification: null,
        qualifications: [
          {id: 1, name: 'Bachelor Degree or Higher Degree', status: false},
          {id: 2, name: 'Advanced Diploma or Associate Degree', status: false},
          {id: 3, name: 'Diploma (or Associate Diploma)', status: false},
          {id: 4, name: 'Certificate IV (or Advanced Certificate/Technician)', status: false},
          {id: 5, name: 'Certificate III (or Trade Certificate)', status: false},
          {id: 6, name: 'Certificate II', status: false},
          {id: 7, name: 'Certificate I', status: false},
          {id: 8, name: 'Certificates other than above', status: false}
        ],
        employment_status: null,
        study_reason: null,
        employer_title: null,
        company_name: null,
        company_street: null,
        company_city: null,
        company_state: null,
        company_postal_code: null,
        work_phone_number: null,
        work_mobile_number: null,
        work_email: null,
        first_aid_cert: null,
        photo_emailed: false,
        identification: [
          {id: 1, name: 'Driver Licence (Front and Back)', status: false},
          {id: 2, name: 'Passport', status: false},
          {id: 3, name: 'Other', status: false}
        ],
        cert_security: null,
        security_license: null,
        documents: [
          {id: 1, name: 'ID – drivers licence (Front and Back) / Passport', status: false},
          {id: 2, name: 'Certificates/ Statements of Attainment', status: false},
          {id: 3, name: 'Head & shoulders Photo', status: false},
          {id: 4, name: 'First Aid Certificate (if applicable)', status: false},
          {id: 5, name: 'Security Licence (if applicable)', status: false}
        ],
        certify_agreement: null,
        dateofenrolment: null,
        discovered: null
      },
      courses: [
        {
          shortname: 'business',
          name: 'Business and Management Courses',
          courses: [
            'Certificate II in Business',
            'Certificate III in Business',
            'Certificate IV in Business',
            'Diploma of Business'
          ]
        },
        {
          shortname: 'cleaning',
          name: 'Cleaning Operations and Cleaning Management Courses',
          courses: [
            'Certificate II in Cleaning',
            'Certificate III in Cleaning Operations',
            'Certificate IV in Cleaning Management'
          ]
        }
      ],
      countries: this.$store.state.countries.countries,
      required: '<span class="text-danger">*</span>'
    }
  },
  methods: {
    submit() {
      axios({
        method: 'post',
        url: '/api/admin/enrolment',
        data: {
          fields: this.fields
        }
      }).then(response => {
        console.log(response.data);
      }).catch(error => {
        console.log(error);
      });
    }
  },
  mounted() {
    console.log('Component mounted.')
  }
}
</script>

<style lang="scss">
  select.form-control {
    padding: .375rem .75rem;
  }
  .enrolment-form {
    p {
      margin-bottom: 5px !important;
    }
  }
</style>
