<template>
  <div>
    <h2 class="text-uppercase title">{{entry.firstname}} {{entry.lastname}}</h2>
    <div class="enrolment-container content-container">
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-bordered">
            <tbody>
              <tr class="table-primary">
                <td>1.) Enter your full name</td>
              </tr>
              <tr>
                <td>{{entry.firstname}} {{entry.lastname}} | {{password}}</td>
              </tr>
              <tr class="table-primary">
                <td>2.) Enter your birth date</td>
              </tr>
              <tr>
                <td>{{entry.dateofbirth}}</td>
              </tr>
              <tr class="table-primary">
                <td>Sex</td>
              </tr>
              <tr>
                <td v-if="entry.sex == 1">Male</td>
                <td v-else-if="entry.sex == 2">Female</td>
                <td v-else-if="entry.sex == 3">Not Stated</td>
                <td v-else>Unspecified</td>
              </tr>
              <tr class="table-primary" v-html="tableData('4.) Do you have a USI ? (Unique Student Identifier)')"></tr>
              <tr>
                <td v-if="entry.usi">Yes</td>
                <td v-else>No</td>
              </tr>
              <tr class="table-primary" v-if="entry.usi" v-html="tableData('USI Number')"></tr>
              <tr v-if="entry.usi">
                <td>{{entry.usinumber}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('5.) What is your home residential address?')"></tr>
              <tr>
                <td>
                  {{entry.street_address}}
                  <br>{{entry.city}}, {{entry.state}} {{entry.postal_code}}
                  <br>{{entry.country}}
                </td>
              </tr>
              <tr class="table-primary" v-html="tableData('6.) What is your postal address?')"></tr>
              <tr>
                <td v-if="entry.postal_same">Same as above</td>
                <td v-else>
                  {{entry.postal_street_address}}
                  <br>{{entry.postal_city}}, {{entry.postal_state}} {{entry.postal_postal_code}}
                  <br>{{entry.postal_country}}
                </td>
              </tr>
              <tr class="table-primary" v-html="tableData('Home Number')"></tr>
              <tr>
                <td>{{entry.home_number}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Mobile Number')"></tr>
              <tr>
                <td>{{entry.mobile_number}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Email Address')"></tr>
              <tr>
                <td>{{entry.email}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('8.) I wish to enrol in the following course')"></tr>
              <tr>
                <td>{{entry.course_category}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Course name')"></tr>
              <tr>
                <td>{{entry.course_name}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('9.) Are you applying for RPL / National Recognition for any units?')"></tr>
              <tr>
                <td v-if="entry.rpl">Yes</td>
                <td v-else>No</td>
              </tr>
              <tr class="table-primary" v-html="tableData('10.) In which country were you born?')"></tr>
              <tr>
                <td>{{entry.country_born}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('11.) Do you speak a language, other than English at home?')"></tr>
              <tr>
                <td>{{entry.language}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('12.) How well do you speak English?')"></tr>
              <tr>
                <td v-if="entry.english == 1">Very Well</td>
                <td v-else-if="entry.english == 2">Well</td>
                <td v-else-if="entry.english == 3">Not Well</td>
                <td v-else>Not at all</td>
              </tr>
              <tr class="table-primary" v-html="tableData('13.) Are you of Aboriginal, Torres Strait Islander or other indigenous origin?')"></tr>
              <tr>
                <td v-if="entry.aboriginal == 1">No</td>
                <td v-else-if="entry.aboriginal == 2">Yes, Aboriginal</td>
                <td v-else-if="entry.aboriginal == 3">Yes, Torres Strait Islander</td>
                <td v-else>Yes, other indigenous origin</td>
              </tr>
              <tr class="table-primary" v-html="tableData('14.) Do you consider yourself to have a disability, impairment or long-term condition?')"></tr>
              <tr>
                <td v-if="entry.disability">Yes</td>
                <td v-else>No</td>
              </tr>
              <tr class="table-primary" v-if="entry.disability" v-html="tableData('14.) Do you consider yourself to have a disability, impairment or long-term condition?')"></tr>
              <tr v-if="entry.disability">
                <td>{{entry.disabilities}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('15.) What is your highest COMPLETED school level?')"></tr>
              <tr>
                <td>{{entry.school_level}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('16.) In which YEAR did you complete that school level?')"></tr>
              <tr>
                <td>{{entry.year_school_level}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('17.) Are you still attending secondary school?')"></tr>
              <tr>
                <td v-if="entry.still_attending_school">Yes</td>
                <td v-else>No</td>
              </tr>
              <tr class="table-primary" v-html="tableData('18.) Have you successfully completed any of the qualifications listed below?')"></tr>
              <tr>
                <td>{{entry.prior_qualification}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('If YES, tick ANY applicable boxes')"></tr>
              <tr>
                <td>{{entry.qualifications}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('19.) Of the following categories, which BEST describes your current employment status?')"></tr>
              <tr>
                <td>{{entry.employment_status}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('20.) Of the following categories, which BEST describes your main reason for undertaking this course/traineeship/apprenticeship?')"></tr>
              <tr>
                <td>{{entry.study_reason}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('21.) Employer Position/Title')"></tr>
              <tr>
                <td>{{entry.employer_title}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Company Name')"></tr>
              <tr>
                <td>{{entry.company_name}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Company Address')"></tr>
              <tr>
                <td>{{entry.company_street}}
                  <br>{{entry.company_city}}, {{entry.company_state}} {{entry.company_postal_code}}
                </td>
              </tr>
              <tr class="table-primary" v-html="tableData('Work Phone Number')"></tr>
              <tr>
                <td>{{entry.work_phone_number}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Work Mobile Number')"></tr>
              <tr>
                <td>{{entry.work_mobile_number}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('22.) Do you have a Certificate in First Aid?')"></tr>
              <tr>
                <td>{{entry.first_aid_cert}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('23.) You will need to supply HR training a head & shoulders photo of yourself before enrolment can be confirmed')"></tr>
              <tr>
                <td>{{entry.photo_emailed}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Supply one of the following forms of formal identification:')"></tr>
              <tr>
                <td>{{entry.identification}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('24.) Do you have any Certificates in Security?')"></tr>
              <tr>
                <td>{{entry.cert_security}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Have you ever had a Security License?')"></tr>
              <tr>
                <td>{{entry.security_license}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Checklist of documents to email to: id@HRtraining.com.au')"></tr>
              <tr>
                <td>{{entry.documents}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Full Name declaration')"></tr>
              <tr>
                <td>{{entry.fullname_declaration}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Certify enrolment')"></tr>
              <tr>
                <td>{{entry.certify_agreement}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('Date of Enrolment')"></tr>
              <tr>
                <td>{{entry.dateofenrolment}}</td>
              </tr>
              <tr class="table-primary" v-html="tableData('How did you hear about us')"></tr>
              <tr>
                <td>{{entry.discovered}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <div class="card mb-3">
            <h5 class="card-header">Entry Details</h5>
            <div class="card-body">
              <p class="card-text">
                Status:
                <span class="text-success" v-if="status"><strong>Confirmed</strong></span>
                <span class="text-danger" v-else><strong>Pending (No Payment)</strong></span>
              </p>
              <p v-if="status">Confirmed by: {{confirm.first_name}} {{confirm.last_name}}</p>
              <p v-if="status">Confirmed on: {{confirm.created_at}}</p>

              <p class="card-text">Entry Id: {{entry.id}}</p>
              <p class="card-text">Submitted on: {{entry.created_at}}</p>
              <p class="card-text">User IP: {{entry.ip_address}}</p>
              <button type="button" name="button" class="btn btn-success" v-if="!status" data-toggle="modal" data-target="#confirmWarn">Confirm Enrolment</button>
            </div>
          </div>
          <div class="card">
            <h5 class="card-header">Notifications</h5>
            <div class="card-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Admin Confirmation
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                  Welcome Letter
                </label>
              </div>
              <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#confirmWarn">Resend Notification</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmWarn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmWarnTitle">Confirm Enrolment of <strong>{{entry.firstname}} {{entry.lastname}}</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="" action="index.html" method="post" enctype="multipart/form-data">
              <label>Amount paid on this transaction</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" aria-label="Amount paid on this transaction" placeholder="Amount paid on this transaction" v-model="amount_paid">
              </div>
              <label>Total amount to be paid</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" aria-label="Total amount to be paid" placeholder="Total amount to be paid" v-model="total_amount_agreed">
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1" class="text-danger">Upload the payment evidence to confirm</label>
                <input type="file" class="form-control-file" @change="fileSelected">
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Note/Description</label>
                <textarea name="paymentDescription" id="" cols="30" rows="4" class="form-control" v-model="description"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="confirmStudent" data-dismiss="modal">Confirm Enrolment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'entry',
      'password',
      'confirmedBy',
    ],
    data() {
      return {
        file: '',
        foldername: (this.entry.firstname+'_'+this.entry.lastname+'_'+this.entry.created_at.replace(/:/g, '')).replace(/ /g, '-'),
        filename: '',
        amount_paid: '',
        total_amount_agreed: '',
        description: '',
        status: this.entry.status,
        confirm: this.confirmedBy
      }
    },
    methods: {
      tableData: function(data) {
        return '<tr><td>'+data+'</td></tr>';
      },
      fileSelected(e) {
        this.file = e.target.files[0];
        let reader = new FileReader();

        reader.readAsDataURL(this.file);
        this.filename = this.file.name.replace(/ /g, '-');
      },
      // September 20, 2018
      confirmStudent: function() {
        let data = new FormData();
        data.append('file', this.file);
        data.append('folder', this.foldername);
        data.append('amount_paid', this.amount_paid);
        data.append('total_amount_agreed', this.total_amount_agreed);
        data.append('payment_description', this.description);
        data.append('filename', this.filename);
        axios({
          method: 'post',
          url: '/api/enrolment/payment/'+this.entry.id,
          data: data
        })
        .then( response => {
          console.log(response.data)
          this.confirm = response.data;
          this.status = true;
        }, error => {
          console.log(error);
          console.log('error');
        });
      }
    },
    created() {
      console.log(this.csrf);
    }
  }
</script>
