<template>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" :class="prevDisabled" @click="paginate(false)">
        <button class="page-link">Previous</button>
      </li>
      <li class="page-item" v-for="(n, index) in totalPages" :key="index" @click="toPage(index)" :class="isActive(index)">
        <button class="page-link" v-text="n"></button>
      </li>
      <li class="page-item" :class="nextDisabled" @click="paginate(true)"><button class="page-link">Next</button></li>
    </ul>
  </nav>
</template>
<script>
  export default {
    props: [
      'totalPages',
      'currentPage'
    ],
    data() {
      return {
        canPrev: false,
        canNext: false
      }
    },
    methods: {
      isActive(index) {
        return index === this.currentPage ? 'active' : '' ;
      },
      paginate(data) {
        // if prev/next clicked but disabled, then return
        if (data && !this.canNext) return console.log('stop');
        if (!data && !this.canPrev) return console.log('stop');

        let page = data ? this.currentPage+1 : this.currentPage-1;
        this.$emit('paginate', page);
      },
      toPage(n) {
        this.$emit('paginate', n);
      },
    },
    computed: {
      prevDisabled() {
        let disabled = '';
        this.currentPage === 0 ? (disabled = 'disabled', this.canPrev=false) : this.canPrev=true ;
        return disabled;
      },
      nextDisabled() {
        let disabled = '';
        this.totalPages-1 ===  this.currentPage ? (disabled = 'disabled', this.canNext=false) : this.canNext=true;
        return disabled;
      }
    }
  }
</script>
