<template>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search student" aria-label="Search student" aria-describedby="basic-addon2" v-model="name" @input="search">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        name: ''
      }
    },
    methods: {
      search() {
        axios({
          method: 'get',
          url: `/api/admin/student/search/${this.name}`
        })
        .then( response => {
          this.$emit('refresh', response.data)
        }, error => {
          console.log(error);
        });
      },
      search() {
        this.$emit('search', this.name);
      }
    }
  }
</script>
