<template>
  <table class="table table-outside-border">
    <thead>
      <tr>
        <th width="40%">Name</th>
        <th width="40%">Email</th>
        <th width="20%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="student in students">
        <td><a :href="studentRoute(student.id)">{{student.first_name}} {{student.last_name}}</a></td>
        <td>{{student.email}}</td>
        <td>
          <span class="badge" :class="usi(student.usi.status)">USI</span>
          <span class="badge" :class="id(student.identifications)">ID</span>
          <span class="badge badge-danger">PAYMENT</span>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
  export default {
    props: [
      'students',
      'route',
      'currentPage'
    ],
    methods: {
      studentRoute(id) {
        return this.route+'/'+id;
      },
      usi(status) {
        return status == 2 ? 'badge-success' : 'badge-danger';
      },
      id(ids) {
        let verified = 0;
        for(let i = 0; i<ids.length; i++) {
          ids[i].status == 2 ? verified+=1 : '';
        }
        return verified == ids.length ? 'badge-success' : 'badge-danger';
      }
    }
  }
</script>
