body {
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.full-width {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.page-container {
  max-width: 1680px;
}

main {
  font-size: 13px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.text-old-blue {
  color: #3366ff;
}

.text-old-red {
  color: #ff0000;
}

.font-bold {
  font-weight: bold;
}

.social-list {
  margin-bottom: 0px;
}

.social-list img {
  height: 35px;
}

.sidebar-right .content-block {
  padding: 0px;
}

.content-block {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border: 0;
  margin-bottom: 15px;
}

.block-header {
  background-color: #7f8c8d;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 0px;
}

.block-header i,
.block-header svg {
  margin-right: 7.5px;
}

.block-body {
  padding: 15px;
}

.page-content-header {
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  font-size: 22px;
  text-transform: uppercase;
}

nav.navbar {
  background: #fff;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

nav .breadcrumb {
  padding: 0px;
  background-color: transparent;
}

nav .breadcrumb a {
  font-weight: normal;
}

.form-control {
  border: 1px solid #d9d9d9;
  padding: 15px 7.5px;
  border-radius: 0px;
  font-size: 14px;
}

