main {
  padding: 15px;
}

main .table td {
  padding: 7.5px 15px;
}

main .table-sm td {
  padding: 0.3rem;
}

main .table-outside-border {
  border: 1px solid #dee2e6;
}

main a {
  cursor: pointer;
}

#main-content {
  width: 100%;
  padding-left: 230px;
  position: relative;
  font-size: 12px;
}

#main-content .title {
  margin-bottom: 15px;
}

#main-content .content-container {
  background: #ffffff;
  padding: 15px;
  border: 1px solid #dee2e6;
}

.hidden {
  display: none;
}

.flush-padding {
  padding: 0px !important;
}

.text-bold {
  font-weight: bold !important;
}

.full-width {
  width: 100%;
}

.requirements-container .success {
  font-weight: bold;
  color: #2ecc71;
}

.requirements-container .warning {
  font-weight: bold;
  color: #d9534f;
}

.double-bounce1,
.double-bounce2 {
  background-color: #d9534f !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

#sidebar-left {
  max-width: 230px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #3D4D66;
  color: #C6CFDE;
  z-index: 1000;
}

#sidebar-left .sidebar-brand {
  background-color: #212934;
  padding: 15px;
}

#sidebar-left .sidebar-brand img {
  max-height: 25px;
}

#sidebar-left .sidebar-content a {
  color: #C6CFDE;
}

#sidebar-left .sidebar-content .list-group-item {
  background: transparent;
  border-radius: 0px;
}

#sidebar-left .sidebar-content .list-group-item:hover {
  background-color: #2e3a4c;
}

#sidebar-left .sidebar-content .list-group-item.active {
  border: 0px;
  border-left: 5px solid #1e9ef0;
  background-color: #1e679d;
  color: #eceff4;
}

#sidebar-left .sidebar-content .list-group-item.active i,
#sidebar-left .sidebar-content .list-group-item.active svg {
  margin-left: -5px;
}

#sidebar-left .sidebar-content i,
#sidebar-left .sidebar-content svg {
  margin-right: 5px;
}

.navbar-portal {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.content-block {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border: 1px solid #d5d5d5;
  margin-bottom: 15px;
}

.content-block.block-has-action .block-header {
  color: #333333;
  padding: 15px;
}

.content-block.block-has-action .block-header:hover {
  cursor: pointer;
}

.content-block.block-has-action .block-body {
  border-top: 1px solid #d5d5d5;
}

.block-header {
  background-color: #7f8c8d;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.block-header i,
.block-header svg {
  margin-right: 7.5px;
}

.block-body {
  padding: 15px;
}

.page-content-header {
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  font-size: 22px;
  text-transform: uppercase;
}

.introCourses .table td {
  border: 1px solid #7f8c8d;
}

.card-header h5 {
  margin-bottom: 0px;
  font-weight: bold;
}

.breadcrumb {
  background-color: transparent;
  margin: 0px;
  padding: 15px 0px;
}

#course-category .category-item {
  margin-bottom: 15px;
  border-radius: 0px;
}

#course-category .category-item .card-body {
  color: #2c3e50;
}

#course-category .category-item .card-body h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}

#course-category .category-item .card-body .card-text {
  font-size: 13px;
  font-weight: bold;
}

#course-category .category-item .card-body .card-link {
  color: #2c3e50;
  font-size: 13px;
  font-weight: bold;
}

#course-course .nav-item .nav-link {
  border-radius: 0px;
}

#course-course .nav-item .active {
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#course-course .tab-content {
  background: #ffffff;
  padding: 15px;
  border: 1px solid #dee2e6;
  border-top: 0px;
}

#progressReportModal .modal-dialog {
  width: 100%;
  max-width: 1300px;
}

#progressReportModal table {
  border: 1px solid #000000;
}

#progressReportModal table td {
  border: 1px solid #000000;
}

#enrolment table {
  border: 1px solid #000000;
}

#enrolment table tr.enrolled:hover {
  background-color: #c3e6cb;
}

#enrolment table td,
#enrolment table th {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

#enrolment-entry .table-primary {
  font-weight: bold;
}

#enrolment-entry table {
  border: 1px solid #000000;
}

#enrolment-entry table td,
#enrolment-entry table th {
  border: 1px solid #000000;
}

#admin-student-payments .progress {
  height: auto;
}

#admin-student-payments .progress .progress-bar {
  cursor: pointer;
  color: #fff;
  padding: 7.5px;
  border-left: 1px solid white;
}

#admin-student-payments .progress .progress-bar:first-child {
  border-left: 0px;
}

.list-container-1 {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.list-container-1 .row div {
  text-align: center;
}

.list-container-1 .row div:first-child {
  text-align: left;
}

.list-container-1 .list-container-header {
  padding: 15px;
  font-weight: bold;
}

.list-container-1 .list-container-item {
  padding: 7.5px 15px;
  border-top: 1px solid #eeeeee;
}

.list-container-1 .list-container-item:hover,
.list-container-1 .list-container-item.active {
  border-left: 5px solid #337ab7;
  background-color: #eeeeee;
}

.list-container-1 .list-container-item-content {
  padding: 15px;
}

.search-list-container {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  position: absolute;
  left: 15px;
  right: 15px;
  z-index: 10;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.search-list-container .search-list-item {
  padding: 7.5px;
}

.search-list-container .search-list-item:hover {
  cursor: pointer;
  background: #d5d5d5;
  border: 1px 0px solid #eeeeee;
}

.search-list-container .search-list-item.disabled {
  cursor: default;
  background: #eeeeee;
}

.client-category-item {
  border-radius: 5px;
  margin-bottom: 7.5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.client-category-item .category-header {
  cursor: pointer;
  border-bottom: 1px solid #777777;
  background-color: #fff;
}

.client-category-item .category-header:hover {
  background-color: #eeeeee;
}

.client-category-item .category-body {
  background-color: #fff;
}

.client-category-item .category-content {
  padding: 15px;
}

