<template>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0">
      <li class="breadcrumb-item" v-for="(item, index) in items" :class="activeFolder(index)">
        <a @click="goToFolder(item.id, index)">{{item.name}}</a>
      </li>
      <!-- <li class="breadcrumb-item active" aria-current="page">Folder</li> -->
    </ol>
  </nav>
</template>

<script>
  export default {
    props: [
      'items'
    ],
    methods: {
      goToFolder(id, index) {
        let res = {
          id: id,
          index: index+1
        }
        this.$emit('goToFolder', res);
      },
      activeFolder(index) {
        return this.items.length === index+1 ? 'active' : null;
      }
    }
  }
</script>
