<template>
  <div class="file-container">
    <div class="row">
      <div class="col-sm-8">
        <span class="file-icon" :style="fileClass">
          <i class="fas" :class="fileTypeIcon"></i>
        </span> {{file.name}}
      </div>
      <div class="col-sm-2">{{fileType}}</div>
      <div class="col-sm-2">10/10/18</div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'file'
    ],
    data() {
      return {
        isOption: false,
        style: {
          background: ''
        }
      }
    },
    computed: {
      fileTypeIcon() {
        return this.fileIncludes('.doc') ? 'fa-file-word' :
        this.fileIncludes('.pdf') ? 'fa-file-pdf' :
        this.fileIncludes('.jpg') ? 'fa-file-image' : 'fa-file' ;
      },
      fileClass() {
        return this.fileIncludes('.doc') ? 'background: cornflowerblue' :
        this.fileIncludes('.pdf') ? 'background: crimson' :
        this.fileIncludes('.jpg') ? 'background: gold' : null ;
      },
      fileType() {
        return this.fileIncludes('.doc') ? 'Word Document' :
        this.fileIncludes('.pdf') ? 'PDF' :
        this.fileIncludes('.jpg') ? 'image' : null ;
      }
    },
    methods: {
      fileIncludes(data) {
        return this.file.name.includes(data);
      }
    }
  }
</script>

<style lang="scss">
  .file-container {
    padding: 5px 0px;

    .file-icon {
      margin-right: 5px;
      padding: 7px 9px;
      background: darkseagreen;
      border-radius: 50%;
      color: white;
    }
  }
</style>
