<template>
  <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{file.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img :src="`/storage/clients/${folder}/${file.filename}`" class="img-fluid mb-3" v-if="isImage">
          <p><span class="text-bold">File Type:</span> {{file.type}}</p>
          <p><span class="text-bold">Date Created:</span> {{file.created_at | date}}</p>
          <p><span class="text-bold">Date Modified:</span> {{file.updated_at | date}}</p>
          <p><span class="text-bold">Uploaded by:</span> {{file.uploaded_by.first_name}} {{file.uploaded_by.last_name}}</p>
          <p><span class="text-bold">Last Modified by:</span> {{file.updated_by.first_name}} {{file.updated_by.last_name}}</p>
          <button type="button" class="btn btn-danger btn-sm" @click="isDeletingFile = true">Delete file</button>
          <div class="alert alert-danger my-3" role="alert" v-if="isDeletingFile">
              Are you sure you want to delete this file?
              <div>
                <button type="button" class="btn btn-primary btn-sm" @click="isDeletingFile = false">NO</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" @click="deleteFile">YES</button>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModal">Close</button>
          <button type="button" class="btn btn-primary">Download</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'file',
      'folder'
    ],
    data() {
      return {
        isDeletingFile: false
      }
    },
    computed: {
      isImage() {
        return this.file.name.includes('.jpg');
      }
    },
    methods: {
      closeModal() {
        this.isDeletingFile = false;
      },
      deleteFile() {

        axios({
          method: 'delete',
          url: `/api/admin/client-files/${this.file.id}`
        })
        .then(response => {
          console.log(response.data);
          this.$store.commit('client/refreshFiles', response.data);
        }, error => {
          toastr.warning('Identification not uploaded!');
        }).then(() => this.closeModal());
      }
    },
    filters: {
      date(date) {
        // move this filter to vuex
        return moment(date).format('MMMM D, YYYY');
      }
    },
    created() {
      console.log(this.folder);
    }
  }
</script>
