<template>
  <div>
    <h3>Files</h3>
    <div class="list-container-1">
      <div class="list-container-header">
        <div class="text-center" v-if="isLoading">
          <spin-circle></spin-circle>
        </div>
        <form @submit.prevent="submit" v-else>
          <div class="form-group">
            <label for="exampleFormControlFile1">Add File</label>
            <input type="file" class="form-control-file" @change="fileSelected">
          </div>
          <button type="Submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="list-container-header">
        <div class="row">
          <div class="col-sm-8">NAME</div>
          <div class="col-sm-2">TYPE</div>
          <div class="col-sm-2">DATE</div>
        </div>
      </div>
      <div class="list-container-item" v-for="file in files" @dblclick="fileClicked(file)">
        <file :file="file"></file>
      </div>
    </div>


    <!-- modal -->
    <file-modal :file="fileModal" :folder="folder" v-if="showModal"></file-modal>


  </div>
</template>

<script>
  import file from './file.vue';
  import fileModal from './fileModal.vue';

  export default {
    components: {
      file,
      fileModal,
    },
    props: [
      'clientId',
      'files',
      'folder'
    ],
    data() {
      return {
        file: '',
        fileModal: {},
        showModal: false,
        isLoading: false
      }
    },
    computed: {

    },
    methods: {
      fileClicked(file) {
        this.showModal = true;
        this.fileModal = file;

        $('#exampleModal').modal('show');
      },
      fileSelected(e) {
        this.file = e.target.files[0];
        let reader = new FileReader();
        reader.readAsDataURL(this.file);
        console.log(this.file);
      },
      submit() {
        let data = new FormData();
        data.append('file', this.file);
        data.append('filename', this.file.name.replace(/ /g, '_'));
        data.append('type', this.file.type);
        data.append('client_id', this.clientId);

        this.isLoading = true;

        axios({
          method: 'post',
          url: '/api/admin/client-files',
          data: data
        })
        .then(response => {
          this.$store.commit('client/refreshFiles', response.data);
          toastr.success(`File added successfully!`);
        }, error => {
          toastr.warning('Identification not uploaded!');
        }).then(() => {
          this.isLoading = false;
          this.file = '';
        });
      }
    }
  }
</script>

<style type="scss">
  .file-container {
    cursor: pointer;
  }
  .list-container-header nav a {
    color: #007bff !important;
  }
</style>
