<template>
  <div class="folder-container">
    <div class="row">
      <div class="col-sm-6">
        <span class="folder-icon">
          <i class="fas fa-folder"></i>
        </span> {{folder.name}}
      </div>
      <div class="col-sm-2">FOLDER</div>
      <div class="col-sm-2">10/10/18</div>
      <div class="col-sm-2"><i class="fas fa-cog"></i> <i class="fas fa-times"></i></div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'folder'
    ],
    data() {
      return {
        isOption: false
      }
    }
  }
</script>

<style lang="scss">
  .folder-container {
    padding: 5px 0px;

    .folder-icon {
      margin-right: 5px;
      padding: 7px 8px;
      background: darkgrey;
      border-radius: 50%;
      color: white;
    }
  }
</style>
