<template>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr class="bg-info text-white">
          <th scope="col">USERID</th>
          <th scope="col">NAME</th>
          <th scope="col">USERCOURSE</th>
          <th scope="col">TIME</th>
          <th scope="col">COURSE</th>
        </tr>
      </thead>
      <tbody class="bg-light">
          <tr v-for="student in students.data">
            <td>{{ student.userid }}</td>
            <td>{{ student.firstname }} {{ student.lastname }}</td>
            <td><a :href="`https://hrtrainingcollege.com/grade/report/overview/index.php?userid=${student.userid}&id=1`" target="_blank">{{ `${student.userid}-${student.courseid}` }}</a></td>
            <td>{{ student.timemodified | time }}</td>
            <td>{{ student.fullname }}</td>
          </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
export default {
  data() {
    return {
      students: {}
    }
  },
  filters: {
    time(unix) {
      return moment.unix(unix).format("MMMM DD, YYYY HH:mm");
    }
  },
  created() {
    axios.get('/portal/completion-report-2-request')
      .then(response => {
        this.students = response.data;
      })
      .catch(function (error){
        console.log(error);
      });
  }
}
</script>
