.content-block {
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,.05);
  padding: 15px;
  border: 1px solid lighten($gray, 50%);
  margin-bottom: $pad;

  &.block-has-action {
    .block-header {
      color: $text-color;
      padding: $pad;

      &:hover {
        cursor: pointer;
      }
    }
    .block-body {
      border-top: 1px solid lighten($gray, 50%);
    }
  }

}
.block-header {
  background-color: #7f8c8d;
  color: $white;
  padding: ($pad)-5 $pad;
  margin-bottom: 0px;
  text-transform: uppercase;

  i, svg {
    margin-right: $pad/2;
  }
}
.block-body {
  padding: $pad;
}
.page-content-header {
  margin-bottom: ($pad)-5;
  box-shadow: 2px 2px 2px rgba(0,0,0,.05);
  font-size: 22px;
  text-transform: uppercase;
}
.introCourses {
  .table {
    td {
      border: 1px solid #7f8c8d;
    }
  }
}
// CARD
.card-header {
  h5 {
    margin-bottom: 0px;
    font-weight: bold;
  }
}
