.client-category-item {
  border-radius: 5px;
  margin-bottom: $pad/2;
  box-shadow: $box-shadow;

  .category-header {
    cursor: pointer;
    border-bottom: 1px solid $gray-light;
    background-color: $white;

    &:hover {
      background-color: $gray-lighter;
    }
  }
  .category-body {
    background-color: $white;
  }
  .category-content {
    padding: $pad;
  }
}
