#course-category {
  .category-item {
    margin-bottom: 15px;
    border-radius: 0px;

    .card-body {
      color: #2c3e50;

      h5 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0px;
      }

      .card-text {
        font-size: 13px;
        font-weight: bold;
      }
      .card-link {
        color: #2c3e50;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}
#course-course {
  .nav-item {
    .nav-link {
      border-radius: 0px;
    }
    .active {
      background: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }
  .tab-content {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-top: 0px;
  }
}
#progressReportModal {
  .modal-dialog {
    width: 100%;
    max-width: 1300px;
  }
  table {
    border: 1px solid #000000;

    td {
      border: 1px solid #000000;
    }
  }

}
