.enrolment-container .table-bordered {

}
#enrolment {
  table {
    border: 1px solid #000000;

    tr {
      &.enrolled {
        &:hover {
          background-color: #c3e6cb;
        }
      }
    }

    td, th {
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
    }
  }
}
#enrolment-entry {
  .table-primary {
    font-weight: bold;
  }
  table {
    border: 1px solid #000000;

    td, th {
      border: 1px solid #000000;
    }
  }
}
