.list-container-1 {
  background: $white;
  border-radius: 5px;
  border: 1px solid $brand-gray;
  box-shadow: $box-shadow;

  .row {

    div {
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }
  }

  .list-container-header {
    padding: $pad;
    font-weight: bold;
  }

  .list-container-item {
    padding: $pad/2 $pad;
    border-top: 1px solid $gray-lighter;

    &:hover, &.active {
      border-left: 5px solid $brand-primary;
      background-color: $gray-lighter;
    }
  }

  .list-container-item-content {
    padding: $pad;
  }
}
.search-list-container {
  background-color: $white;
  border: 1px solid $brand-gray;
  position: absolute;
  left: 15px;
  right: 15px;
  z-index: 10;
  box-shadow: $box-shadow;

  .search-list-header {

  }
  .search-list-item {
    padding: $pad/2;

    &:hover {
      cursor: pointer;
      background: $brand-gray;
      border: 1px 0px solid $gray-lighter;
    }

    &.disabled {
      cursor: default;
      background: $gray-lighter;
    }
  }
}
