main {
  padding: 15px;

  .table {
    td {
      padding: $pad/2 $pad;
    }
  }
  .table-sm {
    td {
      padding: 0.3rem;
    }
  }
  .table-outside-border {
    border: 1px solid #dee2e6;
  }

  a {
    cursor: pointer;
  }

}
#main-content {
  width: 100%;
  padding-left: 230px;
  position: relative;
  font-size: 12px;

  .title {
    margin-bottom: 15px;
  }

  .content-container {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #dee2e6;
  }
}
.hidden {
  display: none;
}
.flush-padding {
  padding: 0px !important;
}
.text-bold {
  font-weight: bold !important;
}
.full-width {
  width: 100%;
}
.requirements-container {
  .success {
    font-weight: bold;
    color: $brand-success;
  }
  .warning {
    font-weight: bold;
    color: $brand-danger;
  }
}
.double-bounce1, .double-bounce2 {
  background-color: $brand-danger !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
