.navbar-portal {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
}
