#admin-student-payments {
  .progress {
    height: auto;

    .progress-bar {
      cursor: pointer;
      color: $white;
      padding: $pad/2;
      border-left: 1px solid white;


      &:first-child {
        border-left: 0px;
      }
    }
  }
}
