#sidebar-left {
  max-width: 230px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #3D4D66;
  color: #C6CFDE;
  z-index: 1000;

  .sidebar-brand {
    background-color: #212934;
    padding: 15px;

    img {
      max-height: 25px;
    }
  }
  .sidebar-content {
    a {
      color: #C6CFDE;
    }
    .list-group-item {
      background: transparent;
      border-radius: 0px;

      &:hover {
        background-color: darken(#3D4D66, 8%);
      }

      &.active {
        border: 0px;
        border-left: 5px solid #1e9ef0;
        background-color: #1e679d;
        color: #eceff4;

        i, svg {
          margin-left: -5px;
        }
      }
    }
    i, svg {
      margin-right: 5px;
    }
  }
}
