<template>
  <div>
    <div v-if="pageLoaded">
      <div class="row">
        <div class="col-sm-9">
          <div class="content-container">
            <search @search="search($event)"></search>

            <table-list
              :students="currentChunk"
              :route="currentRoute">
            </table-list>

            <paginate
              :current-page="currentPage"
              :total-pages="totalPages"
              @paginate="paginate($event)">
            </paginate>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="content-container">
            <h3>Filter</h3>
            <label>Sort By:</label>
            <div class="form-group">
              <select class="form-control">
                <option>Newest</option>
                <option>A-Z</option>
                <option>Z-A</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" v-else>
      <spin-circle></spin-circle>
    </div>
  </div>
</template>

<script>
  import search from './list/search.vue';
  import tableList from './list/table-list.vue';
  import paginate from './list/paginate.vue';

  export default {
    components: {
      search,
      tableList,
      paginate
    },
    props: [
      'currentRoute'
    ],
    data() {
      return {
        students: '',
        pageLoaded: false,
        searchInput: '',
        currentStudents: [],
        interval: 20,
        totalPages: 0,
        currentPage: 0
      }
    },
    computed: {
      getStudents() {
        return this.students.filter(student =>
          `${student.first_name} ${student.last_name}`.toLowerCase().includes(this.searchInput.toLowerCase())
        )
      },
      currentChunk() {
        let students = [],
        start = this.interval * this.currentPage,
        remaining = this.getStudents.length - start,
        interval = remaining >= this.interval ? this.interval : remaining;

        this.totalPages = Math.ceil(this.getStudents.length / this.interval );

        for(let i = 0;i < interval; i++) {
          students.push(this.getStudents[start+i]);
        }
        return students;
      }
    },
    methods: {
      search(name) {
        this.currentPage = 0; // the current page will revert back to 0 for every search
        this.searchInput = name;
      },
      paginate(n) {
        this.currentPage = n;
      }
    },
    created() {
      axios({
        method: 'get',
        url: '/api/admin/student'
      })
      .then( response => {
        this.students = response.data;
        this.pageLoaded = true;
      }, error => {
        console.log(error);
      });

    }
  }
</script>
