<template>
  <div>
    <transition name="fade">
      <div v-if="pageLoaded" >
        <topbadge
          :name="`${student.first_name} ${student.last_name}`"
          :ids="student.identifications"
          :usi="student.usi">
        </topbadge>
        <div class="row">
          <div class="col-sm-6">
            <info
              :first-name="student.first_name"
              :last-name="student.last_name"
              :email="student.email"
              :user-id="id"
              @infoSubmit="infoUpdate($event)">
            </info>
            <courses
              :intro-courses="student.intro_courses"
              :courses="student.courses">
            </courses>
            <other-files></other-files>
          </div>
          <div class="col-sm-6">
            <usi
              :usi="student.usi"
              :id="id"
              @usiSubmit="usiUpdate($event)">
            </usi>
            <identifications
              :id="student.identifications"
              :user-id="id"
              :folder="student.folder"
              @refresh="idRefresh($event)">
            </identifications>
            <payment :payments="student.payments"></payment>
          </div>
        </div>
      </div>
    </transition>
    <div class="text-center align-middle" v-if="!pageLoaded" >
      <spin-circle></spin-circle>
    </div>

  </div>

</template>

<script>
  import Info from './show/info.vue'
  import Courses from './show/courses.vue'
  import Usi from './show/usi.vue'
  import Payment from './show/payment.vue'
  import Identifications from './show/id.vue'
  import topbadge from './show/topBadge.vue'
  import otherFiles from './show/otherFiles/otherFiles.vue'

  export default {
    components: {
      info: Info,
      courses: Courses,
      usi: Usi,
      payment: Payment,
      identifications: Identifications,
      topbadge,
      otherFiles
    },
    props: [
      'id'
    ],
    data() {
      return {
        student: {
          payments: [],
          identifications: []
        },
        pageLoaded: false
      }
    },
    computed: {

    },
    methods: {
      getStudent() {
        axios({
          method: 'get',
          url: '/api/admin/student/'+this.id
        })
        .then( response => {
          console.log(response.data)
          this.pageLoaded = true;
          this.student = response.data;
        }, error => {
          console.log(error);
        });
      },
      idRefresh(data) {
        this.student.identifications = data;
      },
      usiUpdate(data) {
        this.student.usi = data;
      },
      infoUpdate(data) {
        this.student.first_name = data.first_name;
        this.student.last_name = data.last_name;
        this.student.email = data.email;
      }
    },
    created() {
      this.getStudent();
    }
  }
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
