<template>
  <div>
    <hr>
    <form @submit.prevent="confirmSubmit" v-if="!isConfirming">
      <div class="form-group" hidden>
        <label><strong>Introductory Units</strong></label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" :value="true" v-model="fields.lln">
          <label class="form-check-label">LLN</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" :value="true" v-model="fields.induction">
          <label class="form-check-label">Induction to HRtraining</label>
        </div>
      </div>

      <div class="form-group">
        <label><strong>Welcome Letter Template</strong></label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="welcomeLetter" :value="1" v-model="fields.welcomeLetter">
          <label class="form-check-label">Generic (LLN, Induction)</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="welcomeLetter" :value="2" v-model="fields.welcomeLetter">
          <label class="form-check-label">EQ (LLN, Induction)</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="welcomeLetter" :value="3" v-model="fields.welcomeLetter">
          <label class="form-check-label">RPL (LLN)</label>
        </div>
      </div>
      <div class="form-group">
        <label><strong>CC welcome letter</strong></label>
        <div class="mb-1" v-for="(email, index) in emails">
          <input type="email" class="form-control" v-model="emails[index]">
        </div>
        <a @click="addEmail"><i class="fas fa-plus-circle"></i> Add another email</a>
        <div>
          <small class="text-danger">BCC: nerflimjohn@gmail.com, j.acain@hrtraining.com.au</small>
        </div>
      </div>

      <button type="button" class="btn btn-default btn-sm" @click="cancelForm">Cancel</button>
      <button type="submit" class="btn btn-success btn-sm">Confirm</button>
    </form>

    <div class="text-center" v-else>
      <spin-circle></spin-circle>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'entryId',
      'firstname',
      'lastname',
      'dateofbirth'
    ],
    data() {
      return {
        fields: {
          lln: false,
          induction: false,
          welcomeLetter: null
        },
        emails: [''],
        isConfirming: false
      }
    },
    computed: {
      removeNullEmails() {
        return this.emails.filter(n => n != '');
      }
    },
    methods: {
      cancelForm() {
        this.$emit('toggleConfirm');
      },
      addEmail() {
        this.emails.push('');
      },
      credu() {
        return `${this.firstname.toLowerCase().replace(/ /g, '')}.${this.lastname.toLowerCase().replace(/ /g, '')}`;
      },
      credp() {
        let first = this.firstname.charAt(0);
        let second = this.lastname.charAt(0).toUpperCase();
        let third = moment(this.dateofbirth).format('DDMMYY');
        return `${first}${second}.${third}`;
      },
      confirmSubmit() {
        this.isConfirming = true;
        console.log(this.fields);

        axios({
          method: 'put',
          url: `/api/admin/enrolment/${this.entryId}`,
          data: {
            fields: this.fields,
            emails: this.removeNullEmails,
            credu: this.credu(),
            credp: this.credp()
          }
        }).then(response => {
          console.log(response.data);

          toastr.options = {
            "progressBar": true,
            "positionClass": "toast-top-full-width"
          }
          toastr.success('Student Confirmed!');
          this.$store.commit('enrolment/setEntry', response.data);
          this.cancelForm();

          console.log(response.data);
        }).catch(error => {
          console.log(error);
        });
      }
    }
  }
</script>
