<template>
  <div>
    <div class="text-center" v-if="!pageLoaded">
      <spin-circle></spin-circle>
    </div>
    <div v-else>
      <h2 class="text-uppercase title">{{entry.firstname}} {{entry.lastname}}</h2>
      <div class="enrolment-container content-container">
        <div class="row">
          <div class="col-sm-8">
            <div class="alert alert-danger" role="alert" v-if="emailTaken">
              Email: {{entry.email}} is already taken in the LMS
            </div>
            <personal
              :firstname="entry.firstname"
              :lastname="entry.lastname"
              :dateofbirth="entry.dateofbirth"
              :sex="entry.sex"
              :usi="entry.usi"
              :usinumber="entry.usinumber"
              :street_address="entry.street_address"
              :state="entry.state"
              :city="entry.city"
              :postal_code="entry.postal_code"
              :country="entry.country"
              :postal_same="entry.postal_same"
              :postal_street_address="entry.postal_street_address"
              :postal_state="entry.postal_state"
              :postal_city="entry.postal_city"
              :postal_postal_code="entry.postal_postal_code"
              :postal_country="entry.postal_country">
            </personal>

            <contact
              :home_number="entry.home_number"
              :mobile_number="entry.mobile_number"
              :email="entry.email">
            </contact>

            <course
              :course_category="entry.course_category"
              :course_name="entry.course_name"
              :rpl="entry.rpl">
            </course>

            <language
              :country_born="entry.country_born"
              :language="entry.language"
              :english="entry.english"
              :aboriginal="entry.aboriginal">
            </language>

            <disability
              :disability="entry.disability"
              :disabilities="entry.disabilities">
            </disability>

            <schooling
              :school_level="entry.school_level"
              :year_school_level="entry.year_school_level"
              :still_attending_school="entry.still_attending_school">
            </schooling>

            <qualifications
              :prior_qualification="entry.prior_qualification"
              :qualifications="entry.qualifications">
            </qualifications>

            <employment
              :employment_status="entry.employment_status"
              :study_reason="entry.study_reason">
            </employment>

            <employer
              :employer_title="entry.employer_title"
              :company_name="entry.company_name"
              :company_street="entry.company_street"
              :company_city="entry.company_city"
              :company_state="entry.company_state"
              :company_postal_code="entry.company_postal_code"
              :work_phone_number="entry.work_phone_number"
              :work_mobile_number="entry.work_mobile_number"
              :work_email="entry.work_email">
            </employer>

            <other
              :first_aid_cert="entry.first_aid_cert"
              :photo_emailed="entry.photo_emailed"
              :identification="entry.identification"
              :cert_security="entry.cert_security"
              :security_license="entry.security_license"
              :documents="entry.documents"
              :fullname_declaration="entry.fullname_declaration"
              :certify_agreement="entry.certify_agreement"
              :dateofenrolment="entry.dateofenrolment"
              :discovered="entry.discovered">
            </other>

          </div>
          <div class="col-sm-4">
            <div class="card mb-3">
              <h5 class="card-header">Entry Details</h5>
              <div class="card-body">
                <p class="card-text">
                  <strong>Status:</strong>
                  <span class="text-success" v-if="entry.status"><strong>Confirmed</strong></span>
                  <span class="text-danger" v-else><strong>Pending</strong></span>
                </p>
                <div v-if="entry.status">
                  <p><strong>Confirmed by:</strong> {{entry.status_log.user.first_name}} {{entry.status_log.user.last_name}}</p>
                  <p><strong>Confirmed on:</strong> {{entry.updated_at | date}}</p>
                </div>

                <p class="card-text"><strong>Entry Id:</strong> {{entry.id}}</p>
                <p class="card-text"><strong>Submitted on:</strong> {{entry.created_at | date}}</p>
                <p class="card-text"><strong>User IP:</strong> {{entry.ip_address}}</p>
                <confirm
                  v-if="isConfirming"
                  @toggleConfirm="toggleConfirm"
                  :entry-id="entry.id"
                  :firstname="entry.firstname"
                  :lastname="entry.lastname"
                  :dateofbirth="entry.dateofbirth">
                </confirm>
                <button type="button" name="button" class="btn btn-success" @click="toggleConfirm" v-if="!isConfirming && !entry.status">Confirm Enrolment</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import personal from './fields/personal.vue';
  import course from './fields/course.vue';
  import contact from './fields/contact.vue';
  import language from './fields/language.vue';
  import disability from './fields/disability.vue';
  import schooling from './fields/schooling.vue';
  import qualifications from './fields/qualifications.vue';
  import employment from './fields/employment.vue';
  import employer from './fields/employer.vue';
  import other from './fields/other.vue';

  import entryDetails from './entryDetails.vue';
  import confirm from './confirm.vue';

  export default {
    components: {
      personal,
      contact,
      course,
      language,
      disability,
      schooling,
      qualifications,
      employment,
      employer,
      other,
      entryDetails,
      confirm
    },
    props: [
      'entryId',
    ],
    data() {
      return {
        pageLoaded: false,
        isConfirming: false,
        emailTaken: false
      }
    },
    filters: {
      date(date) {
        // move this filter to vuex
        return moment(date).format('MMMM D, YYYY');
      }
    },
    computed: {
      entry() {
        return this.$store.state.enrolment.entry
      }
    },
    methods: {
      toggleConfirm() {
        this.isConfirming = !this.isConfirming;
      },
      checkEmail() {
        let wsfunction = '&wsfunction=core_user_get_users';
        let request = `&criteria[0][key]=email&criteria[0][value]=${this.entry.email}`;
        let url = `${this.$store.state.lms_domain}${this.$store.state.lms_token}${wsfunction}${request}`;

        axios({
          method: 'get',
          url: url
        }).then(response => {
          console.log(response.data);
          response.data.users.length !== 0 ? this.emailTaken = true : null;
          this.pageLoaded = true;
        }).catch(error => {
          console.log(error);
        });
      }
    },
    created() {
      console.log(this.entryId);

      axios({
        method: 'get',
        url: `/api/admin/enrolment/${this.entryId}`
      }).then(response => {
        this.$store.commit('enrolment/setEntry', response.data);
        console.log(response.data);
        this.checkEmail();
      }).catch(error => {
        console.log(error);
      });
    }
  }
</script>
