<template>
  <div>
    <admin></admin>
    <hr>
    <confirmation></confirmation>
  </div>
</template>

<script>
  import admin from './settings/admin.vue';
  import confirmation from './settings/confirmation.vue';

  export default {
    components: {
      admin,
      confirmation
    }
  }
</script>
