<template>
  <div class="card mb-3">
    <div class="card-body">
      <div class="text-center" v-if="isLoading">
        <spin-circle></spin-circle>
      </div>
      <form @submit.prevent="addSubmit" v-else>
        <div class="form-group">
          <label>Category Name</label>
          <input type="text" class="form-control" v-model="name">
        </div>
        <div class="form-group">
          <label>Select students to add in the category:</label>
          <div class="form-check mb-3" v-for="n in 5">
            <input class="form-check-input" type="checkbox" value="" :id="`defaultCheck${n}`">
            <label class="form-check-label" :for="`defaultCheck${n}`">
              <img src="/assets/images/thumbnail.jpg" class="rounded-circle float-left mr-3" width="20" height="20"> Milfren John dela Vega
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" @click="cancel">Cancel</button>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'clientId'
    ],
    data() {
      return {
        name: '',
        isLoading: false
      }
    },
    methods: {
      cancel() {
        this.$emit('cancel');
      },
      addSubmit() {
        this.isLoading = true;

        axios({
          method: 'post',
          url: '/api/admin/client-categories',
          data: {
            name: this.name,
            client_id: this.clientId
          }
        }).then(response => {
          console.log(response.data);
          this.$store.commit('client/refreshCategory', response.data);
          this.isLoading = false;
        }).catch(error => {
          console.log(error);
        }).then( () => this.cancel() );
      }
    }
  }
</script>
