  <template>
    <div>
      <form @submit.prevent="addSubmit">
        <div class="form-check mb-3" v-for="(student, index) in students">
          <input class="form-check-input" type="checkbox" :value="index" :id="`defaultCheck${index}`">
          <label class="form-check-label" :for="`defaultCheck${index}`">
            <img src="/assets/images/thumbnail.jpg" class="rounded-circle float-left mr-3" width="20" height="20"> {{student.user.first_name}} {{student.user.last_name}}
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-default" @click="cancel">Cancel</button>
      </form>
    </div>
  </template>

  <script>
    export default {
      props: [
        'students',
        'categoryId',
        'categoryIndex'
      ],
      methods: {
        addSubmit(e) {
          let checked = [];

          console.log(e);
          for(let i = 0 ; i < e.target.length ; i++) {
            e.target[i].checked ? checked.push(this.students[e.target[i].value]) : null;
          }

          axios({
            method: 'post',
            url: '/api/admin/client-categories-student',
            data: {
              category_id: this.categoryId,
              students: checked
            }
          }).then(response => {
            let commit = {
              res: response.data,
              index: this.categoryIndex
            }
            this.$store.commit('client/refreshCategoryStudent', commit );
            this.cancel();
          }).catch(error => {
            console.log(error);
          });
        },
        cancel() {
          this.$emit('cancel');
        }
      }
    }
  </script>
