<template>
  <div class="client-category-student-item">
    <div>
      <img src="/assets/images/thumbnail.jpg"
        class="rounded-circle float-left mr-3"
        width="20" height="20">
      <a href="#">{{student.user.first_name}} {{student.user.last_name}}</a>
      <a @click="cancelDeleteStudent">
        <i class="fas fa-times text-danger float-right" title="Remove"></i>
      </a>
    </div>

    <div class="alert alert-danger mt-2 mb-0" role="alert" v-if="isDeleting">
      Are you sure you want to remove <strong>{{student.user.first_name}} {{student.user.last_name}}</strong> on this category?
      <div class="mt-1">
        <button type="button" class="btn btn-primary btn-sm" @click="cancelDeleteStudent">No</button>
        <button type="button" class="btn btn-danger btn-sm" @click="confirmDeleteStudent">Yes</button>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    props: [
      'student',
      'categoryIndex'
    ],
    data() {
      return {
        isDeleting: false
      }
    },
    methods: {
      toggleDelete() {
        this.isDeleting = !this.isDeleting;
      },
      deleteStudent() {
        this.toggleDelete();
      },
      cancelDeleteStudent() {
        this.toggleDelete();
      },
      confirmDeleteStudent() {

        axios({
          method: 'delete',
          url: '/api/admin/client-categories-student/'+this.student.id,
        }).then(response => {
          toastr.success('Deleted!');
          let commit = {
            res: response.data,
            index: this.categoryIndex
          }
          this.$store.commit('client/refreshCategoryStudent', commit);
        }).catch(error => {
          console.log(error);
        }).then(() => this.toggleDelete());
      }
    }
  }
</script>

<style lang="scss">
  .client-category-student-item {
    padding: 7.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
</style>
