<template>
  <div>
    <div class="content-block flush-padding">
      <div class="block-header">
        {{category.name}}
        <a class="text-danger float-right" @click="isDelete"><i class="fas fa-times"></i></a>
        <a class="text-light float-right" @click="isEdit"><i class="fas fa-edit"></i></a>
      </div>
      <div class="block-body">

        <delete-category v-if="onDelete && !edit"
          :id="category.id"
          @cancelDelete="cancelDelete($event)">
        </delete-category>

        <edit-form
          v-if="edit && !onDelete"
          :category="category"
          @cancel="cancelEdit">
        </edit-form>

        <div v-if="!edit && !onDelete">
          <p><strong>Students</strong></p>
          <student-item
            v-for="(student, index) in category.students"
            :key="index"
            :category-index="categoryIndex"
            :student="student">
          </student-item>

          <div class="mt-3">
            <add-student
              v-if="showAddStudents"
              :students="students"
              :category-id="category.id"
              :category-index="categoryIndex"
              @cancel="cancelAddStudent">
            </add-student>
            <button type="button" class="btn btn-default btn-sm" @click="isAddStudents" v-else><i class="fas fa-plus"></i> Add Students</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import addStudent from './addStudent.vue';
  import editForm from './edit.vue';
  import deleteCategory from './delete.vue';
  import studentItem from './blockStudent.vue';

  export default {
    components: {
      addStudent,
      editForm,
      deleteCategory,
      studentItem
    },
    props: [
      'category',
      'students',
      'categoryIndex'
    ],
    data() {
      return {
        edit: false,
        showAddStudents: false,
        onDelete: false
      }
    },
    computed: {
      remainingStudents() {
        let stud = this.students, cat = this.category.students;
        return stud.filter(n => cat.every(x => x != n.id));
      }
    },
    methods: {
      isEdit(n) {
        this.current = n;
        this.edit = true;
      },
      isAddStudents() {
        this.showAddStudents = true;
      },
      cancelAddStudent() {
        this.showAddStudents = false;
      },
      cancelEdit() {
        this.current = null;
        this.edit = false;
      },
      cancelDelete() {
        this.onDelete = !this.onDelete;
      },
      isDelete() {
        return this.onDelete = !this.onDelete;
      }
    },
    created() {

    }
  }
</script>
