<template>
  <div>
    <h3>Categories</h3>
    <button type="button" class="btn btn-default btn-sm mb-3" @click="isAdd" v-if="!add"><i class="fas fa-plus"></i> Add Category</button>

    <add-form
      v-if="add"
      @cancel="cancelAdd"
      :client-id="clientId">
    </add-form>

    <div class="row" v-else>
      <div class="col-sm-4" v-for="(list, index) in lists">
        <category-blocks
          :category="list"
          :students="students"
          :category-index="index"
          @updateCategory="updateCategory($event)">
        </category-blocks>
      </div>
    </div>
  </div>
</template>

<script>

  import addForm from './add.vue';
  import categoryBlocks from './blocks.vue';

  export default {
    components: {
      addForm,
      categoryBlocks
    },
    props: [
      'lists',
      'students',
      'clientId'
    ],
    data() {
      return {
        add: false,
        edit: false,
        current: null,
        showAddStudents: false
      }
    },
    methods: {
      isAdd() {
        this.add = true;
      },
      cancelAdd() {
        this.add = false;
      },
      updateCategory(category) {
        console.log(category);
      },
      refreshCategory(categories) {
        this.$emit('refreshCategory', categories);
      }
    }
  }
</script>
