<template>
  <div>
    <div class="text-center" v-if="isDeleting">
      <spin-circle></spin-circle>
    </div>
    <div class="alert alert-danger" role="alert" v-else>
      Are you sure you want to delete this category?
      <div>
        <button type="button" class="btn btn-primary btn-sm" @click="cancelDelete">No</button>
        <button type="button" class="btn btn-danger btn-sm" @click="confirmDelete">Yes</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'id'
    ],
    data() {
      return {
        isDeleting: false
      }
    },
    methods: {
      cancelDelete() {
        this.$emit('cancelDelete');
      },
      confirmDelete() {
        this.isDeleting = !this.isDeleting;
        axios({
          method: 'delete',
          url: '/api/admin/client-categories/'+this.id,
        }).then(response => {
          this.$store.commit('client/refreshCategory', response.data);
          toastr.success('Category deleted successfully!')
        }).catch(error => {
          console.log(error);
        }).then(() => this.cancelDelete());
      }
    }
  }
</script>
