<template>
  <div>
    <div class="text-center" v-if="isLoading">
      <spin-circle></spin-circle>
    </div>

    <form @submit.prevent="editSubmit" v-else>
      <div class="form-group">
        <label>Category Name</label>
        <input type="text" class="form-control" v-model="name">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" @click="cancel">Cancel</button>
    </form>
  </div>
</template>

<script>
  export default {
    props: [
      'category'
    ],
    data() {
      return {
        name: this.category.name,
        isLoading: false
      }
    },
    methods: {
      cancel() {
        this.$emit('cancel');
      },
      editSubmit() {
        this.isLoading = true;

        axios({
          method: 'put',
          url: '/api/admin/client-categories/'+this.category.id,
          data: {
            name: this.name
          }
        }).then(response => {
          toastr.success('Success');
          this.$store.commit('client/refreshCategory', response.data);
        }).catch(error => {
          console.log(error);
        }).then(() => {
          this.isLoading = false;
          this.cancel();
        });
      }
    }
  }
</script>
