<template>
  <div>
    <h3>Contact Information</h3>
    <table class="table">
      <tr class="table-primary">
        <td>Home Number</td>
      </tr>
      <tr>
        <td>{{home_number}}</td>
      </tr>

      <tr class="table-primary">
        <td>Mobile Number</td>
      </tr>
      <tr>
        <td>{{mobile_number}}</td>
      </tr>

      <tr class="table-primary">
        <td>Email Address</td>
      </tr>
      <tr>
        <td>{{email}}</td>
      </tr>

    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'home_number',
      'mobile_number',
      'email'
    ]
  }
</script>
