<template>
  <div>
    <h3>Course Details</h3>
    <table class="table">
      <tr class="table-primary">
        <td>8.) I wish to enrol in the following course</td>
      </tr>
      <tr>
        <td>{{course_category}}</td>
      </tr>

      <tr class="table-primary">
        <td>Course name</td>
      </tr>
      <tr>
        <td>{{course_name}}</td>
      </tr>

      <tr class="table-primary">
        <td>9.) Are you applying for RPL / National Recognition for any units?</td>
      </tr>
      <tr>
        <td>{{ rpl | yesNo }}</td>
      </tr>

    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'course_category',
      'course_name',
      'rpl'
    ],
    filters: {
      yesNo(data) {
        return data ? 'Yes' : 'No';
      }
    }
  }
</script>
