<template>
  <div>
    <h3>Disability</h3>
    <table class="table">
      <tr class="table-primary">
        <td>14.) Do you consider yourself to have a disability, impairment or long-term condition?</td>
      </tr>
      <tr>
        <td>{{disability | yesNo }}</td>
      </tr>

      <tr class="table-primary" v-if="disability">
        <td>If YES, tick ANY applicable boxes:</td>
      </tr>
      <tr v-if="disability">
        <td>
          <ul class="list-unstyled mb-0">
            <li v-for="list in lists" v-text="disabilityfilter(list)"></li>
          </ul>
        </td>
      </tr>

    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'disability',
      'disabilities'
    ],
    data() {
      return {
        lists: this.disabilities.toString().split('')
      }
    },
    methods: {
      disabilityfilter(data) {
        return this.$store.state.enrolment.disabilities.find( n => n.id == data ).name;
      }
    },
    filters: {
      yesNo(data) {
        return data ? 'Yes' : 'No';
      }
    }
  }
</script>
