<template>
  <div>
    <h3>Employer Details (if applicable)</h3>
    <table class="table">
      <tr class="table-primary">
        <td>Position/Title</td>
      </tr>
      <tr>
        <td>{{ employer_title }}</td>
      </tr>

      <tr class="table-primary">
        <td>Company Name</td>
      </tr>
      <tr>
        <td>{{ company_name }}</td>
      </tr>

      <tr class="table-primary">
        <td>Company Address</td>
      </tr>
      <tr>
        <td>
          {{company_street}}
          <br>{{company_state}}, {{company_city}} {{company_postal_code}}
        </td>
      </tr>

      <tr class="table-primary">
        <td>Work Phone Number</td>
      </tr>
      <tr>
        <td>
          {{ work_phone_number }}
        </td>
      </tr>

      <tr class="table-primary">
        <td>Work Mobile Number</td>
      </tr>
      <tr>
        <td>
          {{ work_mobile_number }}
        </td>
      </tr>

      <tr class="table-primary">
        <td>Work Email Address</td>
      </tr>
      <tr>
        <td>
          {{ work_email }}
        </td>
      </tr>

    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'employer_title',
      'company_name',
      'company_street',
      'company_city',
      'company_state',
      'company_postal_code',
      'work_phone_number',
      'work_mobile_number',
      'work_email'
    ]
  }
</script>
