<template>
  <div>
    <h3>Employment</h3>
    <table class="table">
      <tr class="table-primary">
        <td>19.) Of the following categories, which BEST describes your current employment status?</td>
      </tr>
      <tr>
        <td>{{ employmentStatusFilter }}</td>
      </tr>

      <tr class="table-primary">
        <td>20.) Of the following categories, which BEST describes your main reason for undertaking this course/traineeship/apprenticeship?</td>
      </tr>
      <tr>
        <td>{{ studyReasonFilter }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'employment_status',
      'study_reason'
    ],
    computed: {
      employmentStatusFilter() {
        return this.$store.state.enrolment.employment_status.find( n => n.id == this.employment_status ).name;
      },
      studyReasonFilter() {
        return this.$store.state.enrolment.study_reason.find( n => n.id == this.study_reason ).name;
      }
    }
  }
</script>
