<template>
  <div>
    <h3>Language and Cultural Diversity</h3>
    <table class="table">
      <tr class="table-primary">
        <td>10.) In which country were you born?</td>
      </tr>
      <tr>
        <td>{{country_born}}</td>
      </tr>

      <tr class="table-primary">
        <td>11.) Do you speak a language, other than English at home?</td>
      </tr>
      <tr>
        <td>{{language}}</td>
      </tr>

      <tr class="table-primary">
        <td>12.) How well do you speak English?</td>
      </tr>
      <tr>
        <td>{{englishFilter}}</td>
      </tr>

      <tr class="table-primary">
        <td>13.) Are you of Aboriginal, Torres Strait Islander or other indigenous origin? </td>
      </tr>
      <tr>
        <td>{{aboriginalFilter}}</td>
      </tr>

    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'country_born',
      'language',
      'english',
      'aboriginal'
    ],
    computed: {
      englishFilter() {
        return this.$store.state.enrolment.english.find( n => n.id == this.english ).name;
      },
      aboriginalFilter() {
        return this.$store.state.enrolment.aboriginal.find( n => n.id == this.aboriginal ).name;
      }
    }
  }
</script>
