<template>
  <div>
    <table class="table">
      <tr class="table-primary">
        <td>22.) Do you have a Certificate in First Aid?</td>
      </tr>
      <tr>
        <td>{{ first_aid_cert | yesNoEmailed}}</td>
      </tr>

      <tr class="table-primary">
        <td>23.) You will need to supply HR training a head & shoulders photo of yourself before enrolment can be confirmed.</td>
      </tr>
      <tr>
        <td>{{ photo_emailed ? 'Photo will be emailed' : '' }}</td>
      </tr>

      <tr class="table-primary">
        <td>Supply one of the following forms of formal identification:</td>
      </tr>
      <tr>
        <td>
          <ul class="list-unstyled mb-0">
            <li v-for="list in idLists" v-text="idFilter(list)"></li>
          </ul>
        </td>
      </tr>

      <tr class="table-primary">
        <td>24.) Do you have any Certificates in Security?</td>
      </tr>
      <tr>
        <td>{{ cert_security | yesNoEmailed }}</td>
      </tr>

      <tr class="table-primary">
        <td>Have you ever had a Security License?</td>
      </tr>
      <tr>
        <td>{{ security_license | yesNoEmailed }}</td>
      </tr>

      <tr class="table-primary">
        <td>Checklist of documents to email to: id@HRtraining.com.au</td>
      </tr>
      <tr>
        <td>
          <ul class="list-unstyled mb-0">
            <li v-for="list in docLists" v-text="docFilter(list)"></li>
          </ul>
        </td>
      </tr>
    </table>

    <h3>Declaration</h3>
    <table class="table">
      <tr class="table-primary">
        <td>Please place your full name here for the Declaration below</td>
      </tr>
      <tr>
        <td>{{ fullname_declaration }}</td>
      </tr>

      <tr>
        <td>I certify I have read this enrolment form and the Course Information Handbook and agree to the conditions stated in both. I declare that the information supplied by me on this form is true & correct in every detail and I understand and agree that information provided on this form will be used by government departments for research, statistical & management purposes and that HR training may also use the information to help improve the services they deliver, inform participants of other products & services or to comply with requirements under the law. HR training shall not otherwise disclose my personal information to any other party without my consent. In supplying this information I am consenting to the use of the information for these purposes and will contact HR training to amend my personal details when necessary. I also understand I can access my file at any time.</td>
      </tr>

      <tr class="table-primary">
        <td>I have enrolled today</td>
      </tr>
      <tr>
        <td>{{ dateofenrolment }}</td>
      </tr>

      <tr class="table-primary">
        <td>How did you hear about us</td>
      </tr>
      <tr>
        <td>{{ discovered }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'first_aid_cert',
      'photo_emailed',
      'identification',
      'cert_security',
      'security_license',
      'documents',
      'fullname_declaration',
      'certify_agreement',
      'dateofenrolment',
      'discovered'
    ],
    data() {
      return {
        idLists: this.identification.toString().split(''),
        docLists: this.documents.toString().split('')
      }
    },
    methods: {
      idFilter(data) {
        return this.$store.state.enrolment.identification.find( n => n.id == data ).name;
      },
      docFilter(data) {
        return this.$store.state.enrolment.documents.find( n => n.id == data ).name;
      }
    },
    filters: {
      yesNoEmailed(data) {
        return data ? 'Yes - please email copy' : 'No' ;
      }
    }
  }
</script>
