<template>
  <div>
    <h3>Personal Details</h3>
    <table class="table">
      <tr class="table-primary">
        <td>1.) Enter your full name</td>
      </tr>
      <tr>
        <td>{{firstname}} <strong>{{lastname}}</strong></td>
      </tr>

      <tr class="table-primary">
        <td>2.) Enter your birth date</td>
      </tr>
      <tr>
        <td>{{dateofbirth}}</td>
      </tr>

      <tr class="table-primary">
        <td>3.) Sex</td>
      </tr>
      <tr>
        <td>{{sexfilter.name}}</td>
      </tr>

      <tr class="table-primary">
        <td>4.) Do you have a USI ? (Unique Student Identifier)</td>
      </tr>
      <tr>
        <td>{{usi | yesNo}}</td>
      </tr>

      <tr class="table-primary" v-if="usi">
        <td>Enter your USI number:</td>
      </tr>
      <tr v-if="usi">
        <td>{{usinumber}}</td>
      </tr>

      <tr class="table-primary">
        <td>5.) What is your home residential address?</td>
      </tr>
      <tr>
        <td>
          {{street_address}}
          <br>{{state}}, {{city}} {{postal_code}}
          <br>{{country}}
        </td>
      </tr>

      <tr class="table-primary">
        <td>6.) What is your postal address?</td>
      </tr>
      <tr>
        <td v-if="postal_same">
          Same as above
        </td>
        <td v-else>
          {{postal_street_address}}
          <br>{{postal_state}}, {{postal_city}} {{postal_postal_code}}
          <br>{{postal_country}}
        </td>
      </tr>

    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'firstname',
      'lastname',
      'dateofbirth',
      'sex',
      'usi',
      'usinumber',
      'street_address',
      'state',
      'city',
      'postal_code',
      'country',
      'postal_same',
      'postal_street_address',
      'postal_state',
      'postal_city',
      'postal_postal_code',
      'postal_country'
    ],
    computed: {
      sexfilter() {
        return this.$store.state.enrolment.sex.find( sex => sex.id == this.sex );
      }
    },
    filters: {
      yesNo(data) {
        return data ? 'Yes' : 'No';
      }
    }
  }
</script>
