<template>
  <div>
    <h3>Previous Qualifications Achieved</h3>
    <table class="table">
      <tr class="table-primary">
        <td>18.) Have you successfully completed any of the qualifications listed below?</td>
      </tr>
      <tr>
        <td>{{ prior_qualification | yesNo }}</td>
      </tr>

      <tr class="table-primary" v-if="prior_qualification">
        <td>If YES, tick ANY applicable boxes:</td>
      </tr>
      <tr v-if="prior_qualification">
        <td>
          <ul class="list-unstyled mb-0">
            <li v-for="list in lists" v-text="qualificationsFilter(list)"></li>
          </ul>
        </td>
      </tr>

    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'prior_qualification',
      'qualifications'
    ],
    data() {
      return {
        lists: this.qualifications.toString().split('')
      }
    },
    methods: {
      qualificationsFilter(data) {
        return this.$store.state.enrolment.qualifications.find( dis => dis.id == data ).name;
      }
    },
    filters: {
      yesNo(data) {
        return data ? 'Yes' : 'No';
      }
    }
  }
</script>
