<template>
  <div>
    <h3>Schooling</h3>
    <table class="table">
      <tr class="table-primary">
        <td>15.) What is your highest COMPLETED school level?</td>
      </tr>
      <tr>
        <td>{{ schoolLevelFilter }}</td>
      </tr>

      <tr class="table-primary">
        <td>16.) In which YEAR did you complete that school level?</td>
      </tr>
      <tr>
        <td>
          {{year_school_level}}
        </td>
      </tr>

      <tr class="table-primary">
        <td>17.) Are you still attending secondary school?</td>
      </tr>
      <tr>
        <td>
          {{still_attending_school | yesNo}}
        </td>
      </tr>

    </table>
  </div>
</template>

<script>
  export default {
    props: [
      'school_level',
      'year_school_level',
      'still_attending_school'
    ],
    computed: {
      schoolLevelFilter() {
        return this.$store.state.enrolment.schooling.find( n => n.id == this.school_level ).name;
      }
    },
    filters: {
      yesNo(data) {
        return data ? 'Yes' : 'No';
      }
    }
  }
</script>
