<template>
  <div class="mb-3">
    <div class="card">
      <div class="card-body">
        <form @submit.prevent="submit">
          <div class="form-group">
            <label>Client Title/Name</label>
            <input type="text" class="form-control" v-model="name">
          </div>
          <div class="form-group">
            <label>Note/Description</label>
            <textarea class="form-control" rows="3" cols="80" v-model="description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" @click="cancel">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'type',
      'client'
    ],
    data() {
      return {
        name: '',
        description: ''
      }
    },
    methods: {
      submit() {
        return this.type ? this.editSubmit() : this.addSubmit();
      },
      refresh(data) {
        return this.$emit('refresh', data);
      },
      addSubmit() {
        axios({
          method: 'post',
          url: '/api/admin/client',
          data: {
            name: this.name,
            description: this.description
          }
        }).then(response => {
          this.refresh(response.data);
          this.cancel();
          console.log('success');
        }).catch(error => {
          console.log(error);
        });
      },
      editSubmit() {
        axios({
          method: 'put',
          url: '/api/admin/client/'+this.client.id,
          data: {
            name: this.name,
            description: this.description
          }
        }).then(response => {
          this.refresh(response.data);
          this.cancel();
          console.log('success');
        }).catch(error => {
          console.log(error);
        });
      },
      cancel() {
        return this.$emit('cancel');
      },
      edit() {
        this.name = this.client.name;
        this.description = this.client.description;
      }
    },
    created() {
      this.type ? this.edit() : null;
    }
  }
</script>
