<template>
  <div>
    <div class="text-center" v-if="isLoading">
      <spin-circle></spin-circle>
    </div>
    <div v-else>
      <div class="row">
        <div class="col-sm-10">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search student" aria-label="Search clients" aria-describedby="basic-addon2" >
            <div class="input-group-append">
              <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-default full-width" @click="isAddClient"><i class="fas fa-plus"></i> Add Client</button>
        </div>
      </div>

      <client-form
        v-if="addClientForm"
        :type="type"
        :client="client"
        @refresh="refresh($event)"
        @cancel="isAddCancel">
      </client-form>

      <div class="list-container-1" v-else>
        <div class="list-container-header">
          <div class="row">
            <div class="col-sm-10">CLIENTS</div>
            <div class="col-sm-2">ACTIONS</div>
          </div>
        </div>
        <div class="list-container-item" v-for="(client, index) in clients" :key="client.id">
          <div class="row">
            <div class="col-sm-10">
              <a :href="`/portal/clients/${client.id}`" v-text="client.name"></a>
            </div>
            <div class="col-sm-2"><a @click="edit(index)"><i class="fas fa-edit" title="Edit"></i></a> <a @click="remove(client.id)"><i class="fas fa-times text-danger" title="Remove"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import clientForm from './clientForm.vue';

  export default {
    components: {
      clientForm
    },
    data() {
      return {
        addClientForm: false,
        isLoading: true,
        clients: [],
        type: null,
        client: ''
      }
    },
    methods: {
      isAddClient() {
        this.type = 0;
        this.addClientForm = true;
      },
      isAddCancel() {
        this.addClientForm = false;
      },
      refresh(clients) {
        this.clients = clients;
      },
      edit(index) {
        this.type = 1;
        this.addClientForm = true;
        this.client = this.clients[index];
      },
      remove(id) {
        axios({
          method: 'delete',
          url: `/api/admin/client/${id}`,
        }).then(response => {
          this.clients = response.data;
        }).catch(error => {
          console.log(error);
        });
      }
    },
    created() {
      axios({
        method: 'get',
        url: '/api/admin/client',
      }).then(response => {
        this.isLoading = false;
        this.clients = response.data;

        console.log(this.clients);
      }).catch(error => {
        console.log(error);
      });
    }
  }
</script>
