<template>
  <div>

    <div class="text-center" v-if="isLoading">
      <spin-circle></spin-circle>
    </div>

    <div v-else>
      <h1 v-text="client.name"></h1>
      <p v-text="client.description"></p>

      <students
        :lists="client.students"
        :client-id="id"
        @studentsRefresh="studentsRefresh($event)"
      ></students>

      <categories
        :lists="client.categories"
        :client-id="id"
        :students="this.client.students"
      ></categories>

      <files
      :client-id="id"
      :files="client.files"
      :folder="client.folder"></files>
    </div>

  </div>
</template>

<script>
  import categories from './categories/categories.vue'
  import students from './students/students.vue'
  import files from './files/files.vue'

  export default {
    props: [
      'id'
    ],
    components: {
      students,
      categories,
      files
    },
    data() {
      return {
        isBodyActive: false,
        activeItem: null,
        isLoading: true,
      }
    },
    computed: {
      client() {
        return this.$store.state.client.client
      },
    },
    methods: {
      showBody(index) {
        this.activeItem = index;
        this.isBodyActive = !this.isBodyActive;
      },
      studentsRefresh(students) {
        this.client.students = students;
      }
    },
    created() {
      axios({
        method: 'get',
        url: '/api/admin/client/'+this.id
      }).then(response => {
        this.$store.commit('client/setClient', response.data[0] );
        this.isLoading = false;
      }).catch(error => {
        console.log(error);
      });
    }
  }
</script>
