<template>
  <div>
    <h4>Admin Notification</h4>
    <p class="font-weight-bold m-0">Send email notifications to:</p>
    <ul class="list-unstyled ml-3">
      <li v-for="(email, index) in admin.emails">
        <i class="fas fa-caret-right"></i> <span class="ml-2 text-muted">{{email}}</span> | <a class="text-danger" @click="remove(index)">Remove</a>
      </li>
    </ul>
    <form class="form-inline" @submit.prevent="addAdminNotification">
      <div class="form-group mr-3">
        <input type="email" class="form-control form-control-sm" v-model="fields.admin.email">
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Add</button>
    </form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        admin: {
          emails: [
            'nerflimjohn@gmail.com',
            'j.acain@hrtraining.com.au'
          ]
        },
        fields: {
          admin: {
            email: ''
          }
        }
      }
    },
    methods: {
      addAdminNotification() {
        this.admin.emails.push(this.fields.admin.email);
        this.fields.admin.email = '';
      },
      remove(index) {
        this.admin.emails.splice(index, 1);
      }
    }
  }
</script>
