<template>
  <div v-if="pageLoaded">
    <div class="mb-3">
      <h4>Confirmation Notification</h4>
      <p class="font-weight-bold m-0">BCC email confirmation to:</p>
      <ul class="list-unstyled ml-3" v-if="bcc.length">
        <li v-for="(email, index) in bcc">
          <i class="fas fa-caret-right"></i> <span class="ml-2 text-muted">{{email.email}}</span> | <a class="text-danger" @click="remove(email.id)">Remove</a>
        </li>
      </ul>
      <form class="form-inline" @submit.prevent="addItem('conf_bcc', fields.bcc)">
        <div class="form-group mr-3">
          <input type="email" class="form-control form-control-sm" v-model="fields.bcc">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Add</button>
      </form>
    </div>
    <p class="font-weight-bold m-0">Predefined emails for CC confirmation</p>
    <small>This won't be automatically sent. This will only be an option</small>
    <ul class="list-unstyled ml-3" v-if="cc.length">
      <li v-for="(email, index) in cc">
        <i class="fas fa-caret-right"></i> <span class="ml-2 text-muted">{{email.email}}</span> | <a class="text-danger" @click="remove(email.id)">Remove</a>
      </li>
    </ul>
    <form class="form-inline" @submit.prevent="addItem('conf_cc', fields.cc)">
      <div class="form-group mr-3">
        <input type="email" class="form-control form-control-sm" v-model="fields.cc">
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Add</button>
    </form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        fields: {
          bcc: '',
          cc: ''
        }
      }
    },
    computed: {
      bcc() {
        return this.$store.state.enrolment.settings.filter(email => email.type === 'conf_bcc');
      },
      cc() {
        return this.$store.state.enrolment.settings.filter(email => email.type === 'conf_cc');
      },
      pageLoaded() {
        return this.$store.state.enrolment.pageLoaded;
      }
    },
    methods: {
      addItem(type, email) {
        let data = {
          form_id: 1,
          type: type,
          email: email
        };
        this.$store.dispatch('enrolment/addSettings', data);
        this.clearForm();
      },
      remove(id) {
        axios({
          method: 'delete',
          url: `/api/admin/enrolment-settings/${id}`
        }).then(res => {
          this.$store.commit('enrolment/refreshSettings', res.data);
        }).catch(err => {
          console.log(err);
        });
      },
      clearForm() {
        this.fields.bcc = '';
        this.fields.cc = '';
      }
    },
    created() {
      this.$store.commit('enrolment/getSettings');
    }
  }
</script>
