<template>
  <div>
    <form>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Title" v-model="fields.title">
      </div>
      <div class="form-group">
        <label>Note (Optional)</label>
        <textarea name="name" rows="3" cols="80" class="form-control" v-model="fields.note"></textarea>
      </div>
      <div class="form-group">
        <label>Select file:</label>
        <input type="file" class="form-control-file" @change="fileSelected">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-default" @click="toggleAddFile">Cancel</button>
    </form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        fields: {
          title: '',
          note: '',
          file: null
        }
      }
    },
    methods: {
      toggleAddFile() {
        this.$emit('toggleAddFile');
      },
      fileSelected(e) {
        this.fields.file = e.target.files[0];
        let reader = new FileReader();
        reader.readAsDataURL(this.fields.file);
        console.log(this.fields.file);
      }
    }
  }
</script>
