<template>
  <div>
    <div class="content-block flush-padding">
      <div class="block-header">
        <i class="fas fa-user"></i> OTHER FILES
      </div>
      <div class="block-body">
        <div class="list-group mb-2">
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Enrolment Form</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small><a href="#">Download File</a></small>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Inquiry</h5>
              <small>3 days ago</small>
            </div>
            <small><a href="#">Download File</a></small>
          </div>
        </div>

        <add-form v-if="addFile" @toggleAddFile="toggleAddFile"></add-form>

        <button type="button" class="btn btn-default" @click="toggleAddFile" v-else><i class="fas fa-plus-circle"></i> Add File</button>



      </div>
    </div>
  </div>
</template>

<script>
  import addForm from './addForm.vue';

  export default {
    components: {
      addForm
    },
    data() {
      return {
        addFile: false
      }
    },
    methods: {
      toggleAddFile() {
        this.addFile = !this.addFile;
      }
    }
  }
</script>
