<template>
  <div>
    <div class="input-group mb-0">
      <input type="text" class="form-control" placeholder="Search student to add" aria-label="Search student to add" aria-describedby="basic-addon2" v-model="name" @input="searchInput">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>

    <add-student-list
      v-if="name"
      :isSearching="isSearching"
      :students="students"
      :client-id="clientId"
      @studentsRefresh="studentsRefresh"
      :already-student="alreadyStudent"
      @clearSearch="clearSearch"
      @isAddingStudent="isAddingStudent"
      ></add-student-list>
  </div>
</template>

<script>
  import addStudentList from './addStudentList.vue';

  export default {
    components: {
      addStudentList
    },
    props: [
      'clientId',
      'alreadyStudent'
    ],
    data() {
      return {
        name: '',
        isSearching: false,
        students: []
      }
    },
    methods: {
      searchInput() {
        this.isSearching = true;
        this.searchDebounce();
      },
      searchDebounce: _debounce(function() {
        return this.searchInit();
      }, 1000),
      searchInit() {
        if(this.name != '') {
          axios({
            method: 'get',
            url: `/api/admin/client-student`,
            params: {
              name: this.name
            }
          }).then(response => {
            console.log(response);
            this.students = response.data;
            this.isSearching = false;
          }).catch(error => {
            console.log(error);
          });
        }
      },
      studentsRefresh() {
        this.$emit('studentsRefresh');
      },
      clearSearch() {
        this.name = '';
      },
      isAddingStudent() {
        this.$emit('isAddingStudent');
      }
    }
  }
</script>
