<template>
  <div v-if="isAdding">
    <div class="row">
      <div class="col">
        <div class="text-center search-list-container" v-if="isSearching">
          <spin-circle></spin-circle>
        </div>
        <div class="search-list-container" v-else>
          <div class="search-list-header">

          </div>
          <div class="search-list-item" v-for="(student, index) in students" :key="index" @click="addStudent(student.id)" :class="disabledClass(student.id)">
            <img src="/assets/images/thumbnail.jpg" class="rounded float-left mr-3" width="20" height="20"> {{student.first_name}} {{student.last_name}}
          </div>
          <div class="search-list-item" v-if="students.length == 0">
            No results found...
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

  export default {
    props: [
      'isSearching',
      'students',
      'clientId',
      'alreadyStudent'
    ],
    data() {
      return {
        isAdding: true
      }
    },
    methods: {
      addStudent(id) {
        console.log(id);

        if( !this.isDisabled(id) ) {
          this.isAdding = false;
          this.$emit('isAddingStudent');
          axios({
            method: 'post',
            url: `/api/admin/client-student`,
            data: {
              user_id: id,
              client_id: this.clientId
            }
          }).then(response => {
            this.$emit('studentsRefresh');
            this.$store.commit('client/addStudent', response.data);
            toastr.success('Success!')
            this.clearSearch();
          }).catch(error => {
            console.log(error);
          }).then(() => this.isAdding = true);
        } else {
          console.log('Student already on the list');
        }
      },
      isDisabled(id) {
        return this.alreadyStudent.some(student => student == id);
      },
      disabledClass(id) {
        return this.isDisabled(id) ? 'disabled' : '' ;
      },
      clearSearch() {
        this.$emit('clearSearch');
      }
    },
    created() {
      console.log(this.clientId);
    }
  }
</script>
