<template>
  <div>
    <h3>Students</h3>
    <add-student
      @studentsRefresh="studentsRefresh($event)"
      :client-id="clientId"
      :already-student="alreadyStudent"
      @isAddingStudent="isAddingStudent">
    </add-student>

    <div class="list-container-1 mb-3 mt-3">
      <div class="list-container-header">
        <div class="row">
          <div class="col-sm-10">NAME</div>
          <div class="col-sm-2">ACTION</div>
        </div>
      </div>
      <div class="list-container-item" v-for="(student, index) in lists" :key="student.id">
        <div class="row">
          <div class="col-sm-10">
            <a href="#">{{student.user.first_name}} {{student.user.last_name}}</a>
          </div>
          <div class="col-sm-2"><a @click="remove(student.id, index)"><i class="fas fa-times text-danger" title="Remove"></i></a></div>
        </div>
      </div>
      <div class="list-container-item text-center" v-show="isAddingStudentSpinner">
        <spin-circle></spin-circle>
      </div>
    </div>
  </div>
</template>

<script>
  import addStudent from './addStudent.vue';

  export default {
    components: {
      addStudent
    },
    props: [
      'lists',
      'clientId'
    ],
    data() {
      return {
        studentList: this.lists,
        isAddingStudentSpinner: false
      }
    },
    computed: {
      alreadyStudent() {
        let studentsId = [];
        this.lists.map(student => studentsId.push(student.user.id))
        return studentsId;
      },
    },
    methods: {
      remove(id, index) {
        console.log('id');
        axios({
          method: 'delete',
          url: `/api/admin/client-student/${id}`
        }).then(response => {
          this.$store.commit('client/setClient', response.data);
        }).catch(error => {
          console.log(error);
        });
      },
      studentsRefresh() {
        this.isAddingStudentSpinner = false;
      },
      isAddingStudent() {
        this.isAddingStudentSpinner = true;
      }
    }
  }
</script>
