<template>
  <div>
    <div class="content-block flush-padding">
      <div class="block-header">
        <i class="fas fa-user"></i> COURSES
      </div>
      <div class="block-body">
        <table class="table table-outside-border">
          <tbody>
            <tr v-for="course in introCourses" :class="isDone(course.status)">
              <td class="course-title" v-text="course.fullname"></td>
              <td class="course-grade text-center" v-text="course.grade"></td>
            </tr>
            <tr v-for="course in courses" :class="isDone(course.status)">
              <td class="course-title" v-html="course.fullname"></td>
              <td class="course-grade text-center" v-text="course.grade"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'introCourses',
      'courses'
    ],
    methods: {
      isDone(status) {
        return status === 2 ? 'table-success' : '';
      }
    }
  }
</script>

<style lang="scss" scoped>
.course-title {
  width: 80%;
}
.course-grade {
  width: 20%;
}
</style>
