<template>
<div>
  <div class="content-block flush-padding">
    <div class="block-header">
      <i class="fas fa-user"></i> Identifications
    </div>
    <div class="block-body">
      <p v-if="!id.length" class="text-danger mb-0">Setup Identification</p>

      <div v-if="id.length">
        <ul class="list-group mb-2">
          <li class="list-group-item list-group-item-action flex-column align-items-start" v-for="(i, index) in id">
            <div v-if="i.id === current">
              <idform
                @refresh="refresh($event)"
                @cancel="cancel"
                :fields="i"
                type="edit">
              </idform>
            </div>
            <div v-else>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{i.id_name}}</h5>
                <small v-if="i.status != 2">
                  <button type="button" class="btn btn-default btn-sm" @click="edit(i.id)"><i class="fas fa-edit"></i> Edit</button>
                  <button v-if="i.status === 1" type="button" class="btn btn-success btn-sm" @click="approve(i.id)"><i class="fas fa-check"></i> Approve</button>
                </small>
              </div>
              <p class="mb-1">
                <strong>Status:</strong> <span :inner-html.prop="i.status | status"></span>
                <br><strong>Type:</strong> <span class="text-capitalize">{{ i.type | type }}</span>
              </p>
              <small v-if="i.note">{{i.note}}<br></small>
              <small v-if="hasFile(i.status)">
                <a href="#" data-toggle="modal" data-target="#idShowModal" @click="showIdModal(i.filename, i.id_name)">
                  Click to view/download ID
                </a>
              </small>
            </div>
          </li>
        </ul>
      </div>

      <button type="button" class="btn btn-default" @click="create" v-if="!current">
        <i class="fas fa-plus-circle"></i> Add Identification
      </button>

      <div class="mt-3" v-if="current === -1">
        <idform
          @refresh="refresh($event)"
          @cancel="cancel"
          :fields="idForm"
          :user-id="userId">
        </idform>
      </div>
    </div>
  </div>
  <idshow :image-url="imgUrlModal" :id-name="idNameModal"></idshow>
</div>
</template>

<script>
import idform from './idForm.vue'
import idshow from './idShow.vue'

export default {
  components: {
    idform,
    idshow
  },
  props: [
    'id',
    'userId',
    'folder'
  ],
  data() {
    return {
      idForm: {
        id_name: '',
        type: 0,
        status: 0,
        note: ''
      },
      current: undefined,
      imgUrlModal: '',
      idNameModal: ''
    }
  },
  methods: {
    clearForm() {
      this.idForm.id_name = '';
      this.idForm.type = 0;
      this.idForm.status = 0;
      this.idForm.note = '';
    },
    edit(data) {
      this.current = data;
    },
    refresh(data) {
      this.$emit('refresh', data);
      this.cancel();
    },
    create() {
      this.clearForm();
      this.current = -1;
    },
    cancel() {
      this.current = undefined;
    },
    approve(id) {
      axios({
        method: 'put',
        url: '/api/admin/student/id/'+id
      })
      .then(response => {
        toastr.success('Identification Approved!');
        this.refresh(response.data);
      }, error => {
        toastr.warning('Identification not uploaded!');
      });
    },
    idFile(filename) {
      return `/storage/students/${this.folder}/${filename}`;
    },
    showIdModal(filename, name) {
      this.imgUrlModal = this.idFile(filename);
      this.idNameModal = name;
    },
    hasFile(status) {
      return status === 2 || status === 1 ? true : false;
    }
  },
  filters: {
    status(data) {
      switch (data) {
        case 0:
          return '<span class="text-danger">Not Supplied</span>'
          break;
        case 1:
          return '<span class="text-danger">Pending Verification</span>'
          break;
        case 2:
          return '<span class="text-success">Verified</span>'
          break;
        case 3:
          return '<span class="text-danger">Verification Issue</span>'
          break;
        case 4:
          return '<span class="text-danger">TBD</span>'
          break;
      }
    },
    type(data) {
      switch (data) {
        case 0:
          return 'request';
          break;
        case 1:
          return 'provided';
          break;
        case 2:
          return 'TBD';
          break;
      }
    }
  }
}
</script>
