<template>
<div>
  <div class="text-center" v-if="spinner">
    <spin-circle></spin-circle>
  </div>
  <form @submit.prevent="submit" enctype="multipart/form-data" v-else>
    <div class="form-group">
      <label for="idName">ID Name:</label>
      <input type="text" class="form-control" id="idName" name="name" placeholder="ID Name" v-model="fields.id_name">
    </div>
    <div class="form-group">
      <label>Note (optional):</label>
      <textarea id="idNote" rows="3" cols="80" class="form-control" v-model="fields.note"></textarea>
    </div>
    <div class="form-group">
      <label>Type:</label>
      <select class="form-control" v-model="fields.type" name="type">
        <option value="0" selected>Request</option>
        <option value="1">Provided</option>
        <option v-if="fields.type == 2" value="2">TBD</option>
      </select>
    </div>
    <div class="form-group" v-if="fields.type == 1">
      <label for="uploadIDfile">Upload ID</label>
      <input type="file" class="form-control-file" @change="fileSelected">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-default" @click="cancel">Cancel</button>
    <button type="button" class="btn btn-danger float-sm-right" @click="destroy" v-if="type === 'edit'"><i class="fas fa-trash"></i></button>
  </form>
</div>
</template>

<script>
export default {
  props: [
    'type',
    'fields',
    'userId'
  ],
  data() {
    return {
      file: '',
      spinner: false
    }
  },
  methods: {
    toggleSpinner() {
      this.spinner = !this.spinner;
    },
    fileSelected(e) {
      this.file = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(this.file);
    },
    submit() {
      this.spinner = true;
      let data = undefined;
      // since FormData does not accept 'put' method, I put the ID in the request parameter
      // no status request because this will base on the 'TYPE' provided
      // by Milfren
      if(this.fields.type == 1) {
        data = new FormData();
        data.append('file', this.file);
        data.append('filename', this.file.name.replace(/ /g, '-'));
        data.append('id_name', this.fields.id_name);
        data.append('type', this.fields.type);
        data.append('note', this.fields.note);
        data.append('user_id', this.userId);
        if (this.type === 'edit') {
          data.append('id', this.fields.id);
          data.append('method', 'edit');
        }
      } else {
        data = {
          id_name: this.fields.id_name,
          type: this.fields.type,
          note: this.fields.note,
          user_id: this.userId
        }
        if (this.type === 'edit') {
          data.id = this.fields.id;
          data.method = 'edit';
        }
      }

      axios({
        method: 'post',
        url: '/api/admin/student/id',
        data: data
      })
      .then(response => {
        toastr.success('Identification added successfully!');
        this.$emit('refresh', response.data);
      }, error => {
        toastr.warning('Identification not uploaded!');
      }).then(() => this.toggleSpinner());
    },
    cancel() {
      return this.$emit('cancel');
    },
    destroy() {
      this.toggleSpinner();

      axios({
        method: 'delete',
        url: `/api/admin/student/id/${this.fields.id}`
      })
      .then(response => {
        toastr.success('Identification deleted!');
        this.$emit('refresh', response.data);
      }, error => {
        toastr.warning('Identification not deleted!');
      }).then(() => this.toggleSpinner());
    }
  }
}
</script>
