<template>
  <div>
    <div class="content-block flush-padding">
      <div class="block-header">
        <i class="fas fa-user"></i> INFORMATION <a href="#" @click="infoEdit" class="text-light float-right" v-if="!edit"><i class="fas fa-edit"></i></a>
      </div>
      <div class="block-body">
        <div v-if="spinner" class="text-center">
          <spin-circle></spin-circle>
        </div>
        <table class="table table-outside-border" v-if="!edit && !spinner">
          <tr>
            <td>Name:</td>
            <td>{{firstName}} {{lastName}}</td>
          </tr>
          <tr>
            <td>Email Address:</td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td>Learner Survey:</td>
            <td>Pending...</td>
          </tr>
        </table>
        <form @submit.prevent="infoSubmit" v-if="edit && !spinner">
          <div class="form-group">
            <label>Name:</label>
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" v-model="fields.first_name">
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" v-model="fields.last_name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email Address:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="First Name" v-model="fields.email">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" @click="toggleEdit">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'firstName',
      'lastName',
      'email',
      'userId'
    ],
    data() {
      return {
        edit: false,
        spinner: false,
        fields: {
          first_name: '',
          last_name: '',
          email: ''
        }
      }
    },
    methods: {
      toggleEdit() {
        this.edit = !this.edit;
      },
      toggleSpinner() {
        this.spinner = !this.spinner;
      },
      infoEdit() {
        this.toggleEdit();
        this.fields.first_name = this.firstName;
        this.fields.last_name = this.lastName;
        this.fields.email = this.email;
      },
      infoSubmit() {
        let data = {
          first_name: this.fields.first_name,
          last_name: this.fields.last_name,
          email: this.fields.email
        }

        this.toggleEdit();
        this.toggleSpinner();

        axios({
          method: 'put',
          url: '/api/admin/student/info/' + this.userId,
          data: data
        })
        .then(response => {
          toastr.success('Info updated successfully!');
          this.$emit('infoSubmit', response.data);
        }, error => {
          toastr.warning('Error updating info');
        })
        .then(() => {
          this.toggleSpinner();
        });
      },
    }
  }
</script>
