<template>
  <div id="admin-student-payments">
    <div class="content-block flush-padding" v-if="payments">
      <div class="block-header">
        <i class="fas fa-user"></i> PAYMENTS <a class="text-light float-right" @click="toggleForm"><i class="fas fa-edit"></i></a>
      </div>
      <div class="block-body">
        <payment-form
          :info="paymentsInfo"
          v-if="showForm"
          @toggleForm="toggleForm">
        </payment-form>

        <div v-else>
          <p>Status: <span class="badge badge-danger">{{paymentStatus}}</span></p>
          <p>Total Amount: $1200</p>
          <p>Click the blocks to view each payment details</p>

          <payment-progress
            :payments="paymentsData"
            @setActivePayment="setActivePayment($event)">
          </payment-progress>

          <payment-info
            :info="activePayment"
            v-if="activePayment">
          </payment-info>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import paymentForm from './payment/paymentForm.vue'
  import paymentInfo from './payment/paymentInfo.vue'
  import paymentProgress from './payment/paymentProgress.vue'

  export default {
    components: {
      paymentForm,
      paymentInfo,
      paymentProgress
    },
    props: [
      'payments'
    ],
    data() {
      return {
        showForm: false,
        paymentsInfo: {
          id: 1,
          agreed: 1200,
          mode: 1,
          note: '',
          times_to_pay: 3
        },
        paymentsData: [
          {id: 1, amount: 400, status: 1, date_verified: '10/10/2018', filename: 'test1asdfadsf.msg'},
          {id: 2, amount: 500, status: 1, date_verified: '10/10/2018', filename: 'test1asdfadsf.msg'},
          {id: 3, amount: 200, status: 0, date_verified: null, filename: null}
        ],
        activePayment: null
      }
    },
    computed: {
      paymentStatus() {
        if(!this.payments.length) return 'TBD (Setup now)';
      }
    },
    methods: {
      toggleForm() {
        this.showForm = !this.showForm;
      },
      setActivePayment(index) {
        this.activePayment = this.paymentsData[index];
      }
    }
  }
</script>
