<template>
  <h3>
    {{name}}
    <span class="badge" :class="usiStatus">USI</span>
    <span class="badge badge-danger">Payments</span>
    <span class="badge" :class="idStatus">Identifications</span>
  </h3>
</template>
<script>
  export default {
    props: [
      'name',
      'ids',
      'usi'
    ],
    computed: {
      idStatus() {
        return this.ids.length === this.ids.filter(id => id.status === 2).length ? 'badge-success' : 'badge-danger';
      },
      usiStatus() {
        return this.usi === 2 ? 'badge-success' : 'badge-danger';
      }
    }
  }
</script>
