<template>
<div>
  <div class="content-block flush-padding">
    <div class="block-header">
      <i class="fas fa-user"></i> USI <a href="#" @click="usiEdit" class="text-light float-right" v-if="!edit && usi.status != 2"><i class="fas fa-edit"></i></a>
    </div>
    <div class="block-body">
      <p>Status: <span v-html="usiStatus"></span></p>

      <h3 v-if="!spinner && !edit" class="text-uppercase">{{usi.usi_number}}</h3>

      <spin-circle v-if="spinner"></spin-circle>

      <form v-if="edit" @submit.prevent="usiSubmit">
        <div class="form-group">
          <label for="usiNumber">USI Number</label>
          <input type="text" class="form-control" id="usiNumber" placeholder="Enter USI Number" v-model="usi_number" maxlength="10" :class="usi.usi_number.length ? 'text-uppercase' : ''">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-default" @click="edit = !edit">Cancel</button>
      </form>
    </div>
  </div>
</div>
</template>

<script>

export default {
  props: [
    'usi',
  ],
  data() {
    return {
      edit: false,
      spinner: false,
      usi_number: ''
    }
  },
  computed: {
    usiStatus() {
      switch (this.usi.status) {
        case 0:
          return '<span class="badge badge-danger">Not Supplied</span>'
          break;
        case 1:
          return '<span class="badge badge-danger">Pending Verification</span>'
          break;
        case 2:
          return '<span class="badge badge-success">Verified</span>'
          break;
        case 3:
          return '<span class="badge badge-danger">TBD</span>'
          break;
        case 4:
          return '<span class="badge badge-danger">Verification Issue</span>'
          break;
      }
    }
  },
  methods: {
    toggleEdit() {
      this.edit =  !this.edit;
    },
    toggleSpinner() {
      this.spinner = !this.spinner;
    },
    usiSubmit() {
      if (this.usi_number.length == 10 && this.usi.status != 2) {
        this.toggleEdit();
        this.toggleSpinner();

        axios({
          method: 'put',
          url: '/api/admin/student/usi/' + this.usi.id,
          data: { usi_number: this.usi_number }
        })
        .then(response => {
          toastr.success('USI updated successfully!');
          this.$emit('usiSubmit', response.data);
        }, error => {
          toastr.warning('Error in updating USI');
        })
        .then(() => {
          this.toggleSpinner();
        });
      } else alert('USI number should be 10 Characters');
    },
    usiEdit() {
      this.toggleEdit();
      this.usi_number = this.usi.usi_number;
    },
  }
}
</script>
