.content-block {
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,.05);
  padding: 15px;
  border: 0;
  margin-bottom: $pad;
}
.block-header {
  background-color: #7f8c8d;
  color: $white;
  padding: ($pad)-5 $pad;
  margin-bottom: 0px;

  i, svg {
    margin-right: $pad/2;
  }
}
.block-body {
  padding: $pad;
}
.page-content-header {
  margin-bottom: ($pad)-5;
  box-shadow: 2px 2px 2px rgba(0,0,0,.05);
  font-size: 22px;
  text-transform: uppercase;
}
