body {
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.full-width {
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.page-container {
  max-width: 1680px;
}
main {
  font-size: 13px;
}

a {
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

//color
.text-old-blue {
  color: $old-blue;
}
.text-old-red {
  color: $old-red;


}
.font-bold {
  font-weight: bold;
}

.social-list {
  margin-bottom: 0px;
  
  img {
    height: 35px;
  }
}
