nav {
  &.navbar {
    background: $white;
    margin-bottom: $pad;

    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
  }
  .breadcrumb {
    padding: 0px;
    background-color: transparent;

    a {
      font-weight: normal;
    }
  }
}
